#body{
	font-family: "微軟正黑體";
}

#inputAlias, #inputDisease, #inputPlace, #inputUserType {
	width: 100%;
}

.disease, .place, .userType{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	width:100%;
	background-color: #FFF;
	/*background-color: rgba(102, 141, 60, 0.4);*/
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
	margin-top: 7px;
}

.alias{
	height:48px;
	color:#816C58;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	/*background-color: rgba(195, 183, 172, 0.5);*/
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	/*margin: 8px 3px 0px 0px;*/
	width:100%;
	border: 1px solid rgba(0,0,0,0);
}

#search{
	margin: 5px;
}

#searchButton{
	/*width:90px;*/
	font-size: 20px;
	color:#533828;
	margin-top:9px;
	/*background-color: rgba(102, 141, 60, 0.4);*/

	/*float:right;*/
	/*background-color: rgba(232, 81, 0, 0.7);*/
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
}

#searchButton:hover{
	/*background-color: rgba(232, 81, 0, 0.7);*/
}

#title{
	color:black; 
	margin: 0px 0px 15px 5px;
}

#btnGroup{
	display:inline-block; 
	margin-top:5px;
	height: 40%; 
	width: 100%;
}

.button{
	height: 100%;
	font-size: 20px;
	/*color:#533828;*/
	/*margin-top:9px;*/
	/*background-color: rgba(102, 141, 60, 0.4);*/
	background-color: #3765A3;
	color: #FFFAED;
	/*float:right;*/
	/*background-color: rgba(232, 81, 0, 0.7);*/
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-weight:500;
	font-size: 18px;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
}

.button:hover{
	background-color: rgba(232, 81, 0, 0.7);
}

#searchList{
	width: 100%;
}

#searchResult {
	padding-left: 0px;
}

.friend {
	/*border: #AAAAAA 1px solid;*/
	margin: -2px;
	width: 100%;
	height: 100px;
	display: inline-block;
	background-color: #FFF;
}

.image {
	display: inline-block; 
	height: 100%;
	width: 30%;
	padding: 0px;
	vertical-align: top;
	float: left;
}

.friendMid {
	vertical-align: top;
	display: inline-block;
	height: 100%;
	width: 70%;
	text-align: left;
	float: left;
}
/*
.friendRight {
	display: inline-block;
	height: 100px;
	width: 20%;
	float: left;
	text-align: left;
}
*/
.status {
	font-size: 18px;
	display: inline-block;
}