#body{
	font-family: "微軟正黑體";
}
.disease, .place, .userType{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	width:150px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
  	margin-top: 7px;
}

#inputAlias, #inputDisease, #inputPlace, #inputUserType {
	margin: 7px 15px 0px 5px;
}

.alias{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	//margin: 8px 3px 0px 0px;
	width:150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

#mobile_search{
	display: none !important;
}

@media all and (max-width: 1127px){
	#search{
		display: none !important;
	}
	#mobile_search{
		display: block !important;
	}
}

#searchButton{
	//width:90px;
	font-size: 20px;
	color:#533828;
	margin-top:9px;
	background-color: rgba(102, 141, 60, 0.4);

	//float:right;
	/*background-color: rgba(232, 81, 0, 0.7);*/
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

#searchButton:hover{
	background-color: rgba(232, 81, 0, 0.7);
}

.button{
	height: 100%;
	font-size: 20px;
	color:#533828;
	/*margin-top:9px;*/
	background-color: rgba(102, 141, 60, 0.4);

	//float:right;
	/*background-color: rgba(232, 81, 0, 0.7);*/
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.button:hover{
	background-color: rgba(232, 81, 0, 0.7);
}

#searchList{
	width: 100%;
}

@media all and (min-width: 901px) and (max-width: 1123px){
	.friendRight{
		width: 8% !important;
	}
}
@media all and (max-width: 900px){
	.imgAuthorType{
		display: none !important;
	}
	.btnForbbiden{
		display: none !important;
	}
	.image{
		width: 110px !important;
	}.friendRight{
		display: none !important;
	}
	.friendMid{
		width: 55% !important;
	}
	.friendMid a, div {
		font-size: 24px !important;
		height: auto !important;
	}
	.friendMid span {
		width: 100% !important;
		font-size: 14px !important;
	}
	.friendMid button{
		font-size: 16px !important;
	}
	.friendMid div > div {
		font-size: 16px !important;
	}
	#search_result{
		padding-left:0px !important;
	}
}

.friend {
	border: #AAAAAA 1px solid;
	margin: 10px;
	width: 100%;
	height: 100px;
	display: block;
	//background-color: rgba(255, 250, 240, 1); //floralwhite
}

.image {
	display: inline-block; 
	height: 100%;
	width: 230px;
	padding: 0px;
	vertical-align: top;
}

.friendMid {
	vertical-align: top;
	display: inline-block;
	height: 100%;
	width: 380px;
	padding-bottom: 5px;
	text-align: left;
}

.friendRight {
	display: inline-block;
	height: 100px;
	width: auto;
}
