<!DOCTYPE=html>
<script>
      $( document ).ready(function() {
        if($( window ).width() < 768){
          $("html, body").animate({ scrollTop: "440px"} , 170, "swing");
        }
      });
</script>

<div class="container-fluid">
	<h1 style="color:#D26900;">忘記密碼</h1>
	<div class="col-md-6">
		<div id="getQuestion" class="col-md-12">
			<h3>帳號</h3>
			<input type="text"  class="text_box" id="account" >
			<button class="btn" onclick="accountSubmit();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>
		</div>

		<div id="getAnswer" class="col-md-12" >
			<h3 id="question"></h3>
			<input type="text" class="text_box" id="answer"><br>
			<h3>請輸入新的密碼</h3>
			<input type="password" id="password1" class="text_box"><br>
			<h3>請再輸入一次密碼</h3>
			<input type="password" id="password2" class="text_box"><br>
			<button class="btn" onclick="ansSubmit();"><img src="/images/img_forum/check_icon.png">確認送出</button>
		</div>
		<br>
	</div>
</div>