body{
  font-family: "微軟正黑體";
}

#backendHowTo{
  font-size:20px;
  float:right;
  margin-bottom:10px;
}

#userManage, #forumManage, #enlManage, #subscriberManage,#record,#proInfo,#homepageManage{
	/*display:none;*/
	margin-top:20px;
}


#editArticle{
  display: none;
}

#newContent{
  min-height: 500px;
}

.form-control{
	font-size: 20px;
	height:45px;
}

#backend_articleList, #backend_userList, #backend_subscriberList, #backend_homepagePicList{
	margin-top:20px;
}

.reasonTd:hover{
  //background-color: #E0E0E0;
  cursor:pointer;
}

.glyphicon-exclamation-sign{
	margin-left:10px; 
	color:#CE0000;
	font-size: 25px;
}

.glyphicon-remove-circle{
	color:#CE0000;
	font-size: 20px;
}

.glyphicon-ok-circle{
	color:#467500;
	font-size: 18px;
}

.sortable:hover{
  color:#337ab7;
  cursor:pointer;
}

/********For spinners********/
#mailSpinner{
  display:none;
}

.spinner {
  margin: 40px 0px 40px 0px;
  //margin: 100px auto 0;
  //width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/********For spinners (end)********/

.delSub:hover, .unDelArticle:hover, .unDelUser:hover{
  cursor:pointer;
  color:#CE0000;
}

.delArticle:hover, .delUser:hover{
  cursor:pointer;
  color:#467500;
}

.tableHead{
  background-color:#f5f5f5;
}

#backend_userList tr.userRecord:hover{
  cursor:pointer;
}

#backend_userList tr.userInfo:hover{
  background-color: transparent;
}

.searchButton{
  font-size:20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#attachmentList{
  margin-top:10px;
  width:80%;
}

#upload{
  display:none;
}

#uploadArea{
  margin-left:-25px;
}

.removeFile:hover{
  color:#CE0000;
  cursor:pointer;
}

#adminLoginArea .panel-body{
  padding:35px;
}

#adminLoginArea{
  margin-top:150px;
}

#adminLogin{
  font-size:20px;
}

#backendContent, #adminLoginArea, #backendMenu{
  display: none;
}

.navbar-default .navbar-brand {
  color: #D26900;
  font-size:30px;
}
.navbar-default .navbar-brand:hover {
  color: rgba(102, 141, 60, 0.8);
}

.navbar{
  font-size:24px;
  padding:10px;
  margin-bottom: 0px;
}

.navbar li a{
  cursor:pointer;
}

#searchEmail{
  margin-left:15px;
}