#userManage{
	display:none;
	margin-top:20px;
}

#forumManage{
	display:none;
	margin-top:20px;
}

#enlManage{
	display:none;
	margin-top:20px;
}

.nav-pills li a:hover{
	cursor:pointer;
	color: #CE0000;
	background-color: transparent;
}

.nav-pills li a{
	font-size:22px;
}

.form-control{
	font-size: 20px;
	height:45px;
}

#backend_articleList, #backend_userList{
	margin-top:20px;
}

.glyphicon-exclamation-sign{
	margin-left:5px; 
	cursor:pointer;
	color:#CE0000;
	font-size: 25px;
}

.glyphicon-exclamation-sign:hover{
	color:#FF5151;'
}

.glyphicon-remove-circle{
	color:#CE0000;
	font-size: 20px;
}

.glyphicon-ok-circle{
	color:#467500;
	font-size: 20px
}

/*#szlider{
    width:100%;
    height:15px;
    border:1px solid #000;
    overflow:hidden; }
#szliderbar{
    width:37%;
    height:15px;
    border-right: 1px solid #000000;
    background: #d65946; }
#szazalek {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -16px; }*/