#userManage{
	display:block;
	margin-top:20px;
}

#forumManage{
	display:none;
	margin-top:20px;
}

#enlManage{
	display:none;
	margin-top:20px;
}

.nav-pills li a:hover{
	cursor:pointer;
	color: #CE0000;
	background-color: transparent;
}

.nav-pills li a{
	font-size:22px;
}

.form-control{
	font-size: 20px;
	height:45px;
}

#backend_articleList{
	margin-top:20px;
}

.glyphicon-exclamation-sign{
	margin-left:5px; 
	cursor:pointer;
	color:#CE0000;
	font-size: 25px;
}

.glyphicon-exclamation-sign:hover{
	color:#FF5151;'
}