#userManage{
	display:none;
	margin-top:20px;
}

#forumManage{
	display:none;
	margin-top:20px;
}

#enlManage{
	display:none;
	margin-top:20px;
}

.nav-pills li a:hover{
	cursor:pointer;
	color: #D26900;
	background-color: transparent;
}

.nav-pills li a{
	font-size:22px;
}

.form-control{
	font-size: 20px;
	height:45px;
}

#backend_articleList, #backend_userList{
	margin-top:20px;
}

.reasonTd:hover{
  background-color: #E0E0E0;
  cursor:pointer;
}

.glyphicon-exclamation-sign{
	margin-left:10px; 
	color:#CE0000;
	font-size: 25px;
}

.glyphicon-remove-circle{
	color:#CE0000;
	font-size: 20px;
}

.glyphicon-ok-circle{
	color:#467500;
	font-size: 20px
}

th:hover{
  color:#337ab7;
  cursor:pointer;
}

/********For spinners********/
#mailSpinner{
  display:none;
}

.spinner {
  margin: 40px 0px 40px 0px;
  //margin: 100px auto 0;
  //width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/********For spinners (end)********/