<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_editArticle/style.css">
    <link rel="stylesheet" href="/styles/css_post/crop-avatar.css">
    <link rel="stylesheet" href="/styles/css_post/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css_post/cropper.min.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <!--<script src="/js/js_public/jquery.min.js"></script>
    <script src="/js/js_public/jquery.scrolly.min.js"></script>
    <script src="/js/js_public/jquery.scrollzer.min.js"></script>-->
    <script src="/js/js_editArticle/mainJS.js"></script>
    <script src="/js/js_post/bootstrap.min.js"></script>
    <script src="/js/js_post/cropper.min.js"></script>
    <script src="/js/js_editArticle/crop-avatar.js"></script>
	</head>
	<body id="body">
    
    <div class="container container-fluid" id="post-form-main" style="width:100%;">
    <h1 id="title" style="color:#D26900;">癌病友論壇：編輯文章</h1>
    <div class="row-fluid">
      <div class="span10" id="postArea">
        <div class="row-fluid">
          <label style="font-size:25px;">文章標題</label><br><input type="text" name="postTitle" class="s" id="postTitle" style='margin-bottom: 20px;'><br>
        </div>
        <div class="row-fluid">
          <label style="font-size:25px; margin-top:10px;">文章內容</label>
          <div id="editPanel" class="visible-desktop hidden-phone visible-tablet text-right">
            <button value="恢復暫存" id="load" class="b" onclick="load();"><img src="/images/img_forum/back_icon.png"/>恢復至暫存檔</button>
            <button value="暫存" id="save" class="b" onclick="save();" style="width:90px;"><img src="/images/img_forum/save_icon.png"/>暫存</button>
            <button name="image" id="image" value="上傳相片" class="b"><img src="/images/img_forum/images_icon.png"/>上傳相片</button><br>
          </div>

          <!--mobile版-->
          <div id="editPanel" class="hidden-desktop visible-phone hidden-tablet text-left">
            <button value="恢復暫存" id="load" class="b" onclick="load();"><img src="/images/img_forum/back_icon.png"/>恢復至暫存檔</button>
            <button value="暫存" id="save" class="b" onclick="save();" style="width:90px;"><img src="/images/img_forum/save_icon.png"/>暫存</button>
            <button name="image" id="image" value="上傳相片" class="b"><img src="/images/img_forum/images_icon.png"/>上傳相片</button><br>
          </div>
          <!--mobile版-->


        </div>
        <div class="row-fluid">
          <div contentEditable="true" name="postContent" class="s" id="postContent"></div>
          <div contentEditable="false" name="postContent_image" class="s" id="postContent_image">
            <div class="clear" id="clear"></div>
          </div>
          <button value="確認送出" id="submitArticle" class="b" onclick="post();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>
          <button value="取消發表" id="abortArticle" class="b" onclick="abort();"><img src="/images/img_forum/cancel_icon.png"/>取消發表</button>
        </div>
      </div>         

    </div>
    <!-- Cropping modal -->
        <div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modal-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form class="avatar-form" method="post" action="/imgupload_post" enctype="multipart/form-data">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" id="avatar-modal-label">上傳相片（讀者點擊縮圖後即可看到原圖）</h4>
                </div>
                <div class="modal-body">
                  <div class="avatar-body">
                    <!-- Upload image and data -->
                    <div class="avatar-upload">
                      <input class="avatar-src" name="avatar_src" type="hidden">
                      <input class="avatar-data" name="avatar_data" type="hidden">
                      <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                    </div>
                    <!-- Crop and preview -->
                    <div class="row">
                      <div class="col-md-9">
                        <div class="avatar-wrapper"></div>
                      </div>
                      <div class="col-md-3">
                        <div class="avatar-preview preview-lg"></div>
                        <div class="avatar-preview preview-md"></div>
                        <div class="avatar-preview preview-sm"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="imgupload_btn" id="avatar-save" type="submit"><img src="/images/img_forum/check_icon.png"/>上傳</button>
                  <button class="imgupload_btn" type="button" data-dismiss="modal"><img src="/images/img_forum/cancel_icon.png"/>關閉</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- /.modal -->
    </div>    







<!-- 
    <div id="post-form-main" class="container">
      <div id="content">&nbsp癌病友論壇：編輯文章<br>
      <div id="postArticle">
        文章標題<br><input type="text" name="postTitle" class="s" id="postTitle"><br><br>
        文章內容<label id="savedText">已暫存</label>
        <div id="editPanel">
          <button value="恢復暫存" id="load" class="b" onclick="load();"><img src="/images/img_forum/back_icon.png"/>恢復至暫存檔</button>
          <button value="暫存" id="save" class="b" onclick="save();" style="width:90px;"><img src="/images/img_forum/save_icon.png"/>暫存</button>
          <button name="image" id="image" value="上傳相片" class="b"><img src="/images/img_forum/images_icon.png"/>上傳相片</button><br>
        </div>
        <div contentEditable="true" name="postContent" class="s" id="postContent">
        </div>
        <div contentEditable="false" name="postContent_image" class="s" id="postContent_image">
          <div class="clear" id="clear"></div>
        </div>
        <button value="確認送出" id="submitArticle" class="b" onclick="post();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>
        <button value="取消發表" id="abortArticle" class="b" onclick="abort();"><img src="/images/img_forum/cancel_icon.png"/>取消發表</button>
      </div> -->

      <!-- Cropping modal -->
<!--         <div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modal-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form class="avatar-form" method="post" action="/imgupload_post" enctype="multipart/form-data">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" id="avatar-modal-label">上傳相片</h4>
                </div>
                <div class="modal-body">
                  <div class="avatar-body"> -->
                    <!-- Upload image and data -->
<!--                     <div class="avatar-upload">
                      <input class="avatar-src" name="avatar_src" type="hidden">
                      <input class="avatar-data" name="avatar_data" type="hidden">
                      <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                    </div> -->
                    <!-- Crop and preview -->
          <!--           <div class="row">
                      <div class="col-md-9">
                        <div class="avatar-wrapper"></div>
                      </div>
                      <div class="col-md-3">
                        <div class="avatar-preview preview-lg"></div>
                        <div class="avatar-preview preview-md"></div>
                        <div class="avatar-preview preview-sm"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="imgupload_btn" id="avatar-save" type="submit"><img src="/images/img_forum/check_icon.png"/>上傳</button>
                  <button class="imgupload_btn" type="button" data-dismiss="modal"><img src="/images/img_forum/cancel_icon.png"/>關閉</button>
                </div>
              </form>
            </div>
          </div>
        </div> --><!-- /.modal -->
   
  </body>
</html>