<!-- <!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_profile/style.css">
    <link rel="stylesheet" href="/styles/css_post/crop-avatar.css">

    <link rel="stylesheet" href="/styles/css_post/cropper.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/css_public/themes/alertify.core.css">
    <link rel="stylesheet" href="/styles/css_public/themes/alertify.default.css">

    <script src="/js/js_public/modalBox.js-master/modalBox-min.js"></script>
    <script src="/js/js_public/alertify.js"></script>
    <script src="/js/js_profile/mainJS.js"></script>

    <script src="/js/js_post/cropper.min.js"></script>
    <script src="/js/js_profile/crop-avatar.js?ver=1"></script>
	</head>
	<body id="body"> --> 
    <!-- 正文 -->
     <script>
      $( document ).ready(function() {
        $("html, body").animate({ scrollTop: "430px"} , 2000, "swing");
      });
  </script>
    <div class="container container-fluid" id="post-form-main">

    <div class="row-fluid">
      <div class="col-md-7 col-sm-12 col-xs-12" id="artContent">
        <div class="row-fluid" id="timeline_profile">
          <div class="col-md-3 "><img src="" id="avatar" height="100"></div>
          <div class="col-md-9 ">
            <div class="row">
              <div class="col-md-6">
                <h3 id="alias"></h3> 
                <b id="type"></b>
                <text id="primaryDisease"></text>
              </div>
                <div id="friend" class="col-md-5"></div>
            </div>
        </div>
      </div>
        <div class="row-fluid" style="margin-top:10px;">
          <div id="hoho" class="col-md-6">
          <!-- <ul class="tabs"> -->
            <ul class="nav nav-pills" id="tabs">
              <li class="active"><a href="#timeline" data-toggle="pill">動態時報</a></li>
              <li><a href="#about" data-toggle="pill">關於</a></li>
<!--               <li><a href="#personal_friend" data-toggle="pill">我的朋友</a></li>
              <li><a href="#personal_photo" data-toggle="pill">個人健康歷程</a></li>
              <li><a href="#personal_others" data-toggle="pill">更多</a></li>
 -->
            </ul>
          </div>


        </div>

        <div class="tab-content">
          <div class="tab-pane active" id="timeline">
            <div class="row-fluid">
              <div><label id="postTimelineLabel" style="font-size:22px;"></label><br>
                <div contentEditable="true" class="s" id="timeline_post_content"></div>
                <div contentEditable="false" class="s" id="timeline_post_image">
                  <div class="clear" id="comment_clear"></div>
                </div>

                <div class="container-fluid">
                  <button value="送出留言" id="commentSend" class="b" onclick="postTimeline();"><img src="/images/img_forum/check_icon.png"/>送出留言</button>
                  <button value="插入圖片" name="image" id="image" class="b"><img src="/images/img_forum/images_icon.png"/>插入圖片</button>
                  
                  <div class="btn-group" style="float:right;" id="postTilmelineAuth">
                    <button type="button" class="b" data-toggle="dropdown">
                      <img src="/images/img_timeline/all.png" height="20px" width="20px" value="all">&nbsp;全部                  
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a><img src="/images/img_timeline/all.png" height="20px" value="all">&nbsp;全部</a></li>
                      <li><a><img src="/images/img_timeline/friend.png" height="20px" width="20px" value="friend">&nbsp;好友</a></li>
                      <li><a><img src="/images/img_timeline/self.png" height="20px" value="self">&nbsp;自己</a></li>
                    </ul>
                  </div>
                </div>


              </div>
            </div>

            
              <!-- <div class="container-fluid timeline_event" style="margin-top:150px;">
                <div class="row-fluid event_info">
                  <table style="width:100%;">
                    <tr>
                      <td rowspan="2" style="width:50px;">
                        <image src='https://cdn2.iconfinder.com/data/icons/faceavatars/PNG/D04.png' height="50" width="50">
                      </td>
                      <td><div id="event_author_name">HOHO</div></td>
                    </tr>
                    <tr>
                      <td><div id="event_time">2015/04/10</div></td>
                    </tr>
                  </table>
                </div>
                <div class="row-fluid event_text">
                  fdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebt fdsfdsrgtreb tfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebtfdsfdsrgtrebt
                </div>
                <div class="row-fluid event_img">
                  <div class="show-image"><a href="http://140.112.107.168/images/img_post/1429263250479.jpg"><img src="http://140.112.107.168/images/img_post/resize/1429263250479.jpg"></a></div>
                  <div class="show-image"><a href="http://140.112.107.168/images/img_post/1429263250479.jpg"><img src="http://140.112.107.168/images/img_post/resize/1429263250479.jpg"></a></div>
                </div>
                <div class="row-fluid event_option btn-group">
                  <button value="推薦" class="n" onclick="clickNice()"><img src="/images/img_forum/good_icon.png">&nbsp;推薦</button>
                  <button value="留言" class="n" onclick="cancelNice();"><img style="width:24px; height:24px;" src="/images/img_forum/good2_icon.png">&nbsp;留言</button>
                  <div class="btn-group" style="float:none;">
                    <button type="button" class="n" data-toggle="dropdown">
                      <img style="width:24px; height:24px;" src="/images/img_forum/good2_icon.png">
                        &nbsp;其他
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu n" role="menu">
                      <li><a href="#">檢舉</a></li>
                      <li><a href="#">編輯</a></li>
                      <li><a href="#">刪除</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row-fluid event_comment">
                  <table style="width:100%;">
                    <tr>
                      <td style="width:50px;">
                        <image src='https://cdn2.iconfinder.com/data/icons/faceavatars/PNG/D04.png' height="50" width="50">
                      </td>
                      <td>
                        <div id="event_comment_input" contentEditable="true" class="s"></div>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <button value="送出留言" id="commentSend" class="b" onclick="postTimeline();"><img src="/images/img_forum/check_icon.png"/>送出留言</button>
                        <button value="插入圖片" name="image" id="image" class="b"><img src="/images/img_forum/images_icon.png"/>插入圖片</button>
                      </td>
                    </tr>
                  </table>

                  <div contentEditable="false" class="s" id="timeline_post_image">
                    <div class="clear" id="comment_clear"></div>
                  </div>

                </div>



                <div class="row-fluid event_commentlist">

                    <div id="container_timeline_res container-fluid">
                      <div id="sidebar_timeline_res">
                        <image src='https://cdn2.iconfinder.com/data/icons/faceavatars/PNG/D04.png' height="50" width="50">
                      </div>
                      <div id="content_timeline_res">
                        <div id="event_author_name">HOHO</div><div>一一暗暗三三</div>

                        <div class="row-fluid event_img">
                          <div class="show-image"><a href="http://140.112.107.168/images/img_post/1429263250479.jpg"><img src="http://140.112.107.168/images/img_post/resize/1429263250479.jpg"></a></div>
                          <div class="show-image"><a href="http://140.112.107.168/images/img_post/1429263250479.jpg"><img src="http://140.112.107.168/images/img_post/resize/1429263250479.jpg"></a></div>
                        </div>

                        <div class="row-fluid event_option btn-group">
                          <button value="推薦" class="n" onclick="clickNice()"><img src="/images/img_forum/good_icon.png">&nbsp;推薦</button>
                          <button value="留言" class="n" onclick="cancelNice();"><img style="width:24px; height:24px;" src="/images/img_forum/good2_icon.png">&nbsp;留言</button>
                          <div class="btn-group" style="float:none;">
                            <button type="button" class="n" data-toggle="dropdown">
                              <img style="width:24px; height:24px;" src="/images/img_forum/good2_icon.png">
                              &nbsp;其他
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu n" role="menu">
                              <li><a href="#">檢舉</a></li>
                              <li><a href="#">編輯</a></li>
                              <li><a href="#">刪除</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="container_timeline_res container-fluid">
                      <div id="sidebar_timeline_res">
                        <image src='https://cdn2.iconfinder.com/data/icons/faceavatars/PNG/D04.png' height="50" width="50">
                      </div>
                      <div id="content_timeline_res">
                        <div id="event_author_name">HOHO</div><div>一一暗暗三三</div>

                        <div class="row-fluid event_img">
                          <div class="show-image"><a href="http://140.112.107.168/images/img_post/1429263250479.jpg"><img src="http://140.112.107.168/images/img_post/resize/1429263250479.jpg"></a></div>
                          <div class="show-image"><a href="http://140.112.107.168/images/img_post/1429263250479.jpg"><img src="http://140.112.107.168/images/img_post/resize/1429263250479.jpg"></a></div>
                        </div>

                        <div class="row-fluid event_option btn-group">
                          <button value="推薦" class="n" onclick="clickNice()"><img src="/images/img_forum/good_icon.png">&nbsp;推薦</button>
                          <button value="留言" class="n" onclick="cancelNice();"><img style="width:24px; height:24px;" src="/images/img_forum/good2_icon.png">&nbsp;留言</button>
                          <div class="btn-group" style="float:none;">
                            <button type="button" class="n" data-toggle="dropdown">
                              <img style="width:24px; height:24px;" src="/images/img_forum/good2_icon.png">
                              &nbsp;其他
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu n" role="menu">
                              <li><a href="#">檢舉</a></li>
                              <li><a href="#">編輯</a></li>
                              <li><a href="#">刪除</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </div> -->
            


          </div>

          <div class="tab-pane" id="about">
            <br>
            <div class="row">
              <div class="col-md-3 "><img src="" id="avatar" height="100"></div>
              <br>
              <h3  id="alias"></h3> 
            </div> 
           <table class="table">
            <tr class="auth_btn">
              <th></th>
              <th></th>
              <th>權限設定</th>
            </tr>
            <tr id="name_row">
              <td>姓名：</td>
              <td id="name"></td>
              <td>
                <div class="btn-group auth_btn" style="float:none;">
                  <button type="button" class="n" data-toggle="dropdown">
                    <img id="name_pic" src="" height="20px" width="20px">
                    <text id="name_btn_text"></text>                  
                  </button>
                  <ul class="dropdown-menu" role="menu">
                   <li><a class="profile_auth" name="name/all"><img src="/images/img_timeline/all.png" height="20px">&nbsp;人人都看得到</a></li>
                    <li><a class="profile_auth" name="name/friend"><img src="/images/img_timeline/friend.png" height="20px" width="20px">&nbsp;朋友才看得到</a></li>
                    <li><a class="profile_auth" name="name/self"><img src="/images/img_timeline/self.png" height="20px">&nbsp;自己才看得到</a></li>
                  </ul>
                </div>
              </td>
            </tr>
             <tr id="bday_row">
               <td>生日：</td>
               <td id="bday"></td>
               <td>
                <div class="btn-group auth_btn" style="float:none;">
                  <button type="button" class="n" data-toggle="dropdown">
                    <img id="bday_pic" src="" height="20px" width="20px">
                    <text id="bday_btn_text"></text>                  
                  </button>
                  <ul class="dropdown-menu" role="menu">
                   <li><a class="profile_auth" name="bday/all"><img src="/images/img_timeline/all.png" height="20px">&nbsp;人人都看得到</a></li>
                    <li><a class="profile_auth" name="bday/friend"><img src="/images/img_timeline/friend.png" height="20px" width="20px">&nbsp;朋友才看得到</a></li>
                    <li><a class="profile_auth" name="bday/self"><img src="/images/img_timeline/self.png" height="20px">&nbsp;自己才看得到</a></li>
                  </ul>
                </div>
               </td>
             </tr>
             <tr id="city_row">
               <td>來自：</td>
               <td id="city"></td>
               <td>
                 <div class="btn-group auth_btn" style="float:none;">
                   <button type="button" class="n" data-toggle="dropdown">
                     <img id="city_pic" src="" height="20px" width="20px">
                     <text id="city_btn_text"></text>
                   </button>
                   <ul class="dropdown-menu" role="menu">
                     <li><a class="profile_auth" name="city/all"><img src="/images/img_timeline/all.png" height="20px">&nbsp;人人都看得到</a></li>
                     <li><a class="profile_auth" name="city/friend"><img src="/images/img_timeline/friend.png" height="20px" width="20px">&nbsp;朋友才看得到</a></li>
                     <li><a class="profile_auth" name="city/self"><img src="/images/img_timeline/self.png" height="20px">&nbsp;自己才看得到</a></li>
                   </ul>
                 </div>
               </td>
             </tr>
             <tr id="email_row">
               <td>E-mail：</td>
               <td id="email"></td>
               <td>
                 <div class="btn-group auth_btn" style="float:none;">
                    <button type="button" class="n" data-toggle="dropdown">
                      <img id="email_pic" src="" height="20px" width="20px">
                      <text id="email_btn_text"></text>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a class="profile_auth" name="email/all"><img src="/images/img_timeline/all.png" height="20px">&nbsp;人人都看得到</a></li>
                      <li><a class="profile_auth" name="email/friend"><img src="/images/img_timeline/friend.png" height="20px" width="20px">&nbsp;朋友才看得到</a></li>
                      <li><a class="profile_auth" name="email/self"><img src="/images/img_timeline/self.png" height="20px">&nbsp;自己才看得到</a></li>
                    </ul>
                  </div>
               </td>
             </tr>
             <tr id="gender_row">
               <td>性別：</td>
               <td id="gender"></td>
               <td>
                 <div class="btn-group auth_btn" style="float:none;">
                    <button type="button" class="n" data-toggle="dropdown">
                      <img id="gender_pic" src="" height="20px" width="20px">
                      <text id="gender_btn_text"></text>
                    </button>
                     <ul class="dropdown-menu" role="menu">
                       <li><a class="profile_auth" name="gender/all"><img src="/images/img_timeline/all.png" height="20px">&nbsp;人人都看得到</a></li>
                       <li><a class="profile_auth" name="gender/friend"><img src="/images/img_timeline/friend.png" height="20px" width="20px">&nbsp;朋友才看得到</a></li>
                       <li><a class="profile_auth" name="gender/self"><img src="/images/img_timeline/self.png" height="20px">&nbsp;自己才看得到</a></li>
                    </ul>
                  </div>
               </td>
             </tr>
             <tr id="phone_row">
               <td>電話：</td>
               <td id="phone"></td>
               <td>
                  <div class="btn-group auth_btn" style="float:none;">
                   <button type="button" class="n" data-toggle="dropdown" id="phone_btn">
                     <img id="phone_pic" src="" height="20px" width="20px">
                     <text id="phone_btn_text"></text>
                   </button>
                   <ul class="dropdown-menu" role="menu">
                    <li><a class="profile_auth" name="phone/all"><img src="/images/img_timeline/all.png" height="20px">&nbsp;人人都看得到</a></li>
                    <li><a class="profile_auth" name="phone/friend"><img src="/images/img_timeline/friend.png" height="20px" width="20px">&nbsp;朋友才看得到</a></li>
                    <li><a class="profile_auth" name="phone/self"><img src="/images/img_timeline/self.png" height="20px">&nbsp;自己才看得到</a></li>
                   </ul>
                 </div>
               </td>
             </tr>
           </table>
          </div>
          <div class="tab-pane" id="personal_friend">...friend</div>
          <div class="tab-pane" id="personal_photo">...Personal</div>
          <div class="tab-pane" id="personal_others">...others</div>
            
          
        </div>
      </div>

      <!-- Cropping modal -->
      <div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form class="avatar-form" method="post" action="/imgupload_post" enctype="multipart/form-data">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="avatar-modal-label">上傳相片（讀者點擊縮圖後即可看到原圖）</h4>

                <div class="spinner">
                  <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                  </div>
                  <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                  </div>
                  <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                  </div>
                </div>
                  
              </div>
              <div class="modal-body">
                <div class="avatar-body">
                  <!-- Upload image and data -->
                  <div class="avatar-upload">
                    <input class="avatar-src" name="avatar_src" type="hidden">
                    <input class="avatar-data" name="avatar_data" type="hidden">
                    <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                  </div>
                  <!-- Crop and preview -->
                  <div class="row">
                    <div class="col-md-9">
                      <div class="avatar-wrapper"></div>
                    </div>
                    <div class="col-md-3">
                      <div class="avatar-preview preview-lg"></div>
                      <div class="avatar-preview preview-md"></div>
                      <div class="avatar-preview preview-sm"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="imgupload_btn" id="avatar-save" type="submit"><img src="/images/img_forum/check_icon.png"/>上傳</button>
                <button class="imgupload_btn" type="button" data-dismiss="modal"><img src="/images/img_forum/cancel_icon.png"/>關閉</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- image modal -->
    <div class="modalBox"></div>

    <!-- 檢舉視窗 -->
    <div id="reportDialog" title="協助我們瞭解發生的狀況">
      <form id="reportForm">  
        <label><input type="radio" name="reason" value="boring"> 這令人討厭或很無聊</label><br>
        <label><input type="radio" name="reason" value="shouldn't exist"> 我認為這不應該出現在論壇</label><br>
        <label><input type="radio" name="reason" value="garbage"> 這是垃圾訊息</label><br>
        <label><input type="radio" name="reason" value="others"> 其它</label><br>
        <input type="text" id="reasonInput" style="display: none;">
      </form> 
    </div>
    
  </div>
<!--   </body>
</html> -->