<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_changePassword/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/js_changePassword/mainJS.js"></script>
	</head>
	<body id="body">
    </div>

    <div id="content">&nbsp更換密碼<br>
      <div id="changePassword">
      舊密碼<label id="oldLabel" class="check"></label><br>
      <input type="password" name="old" class="s" id="old"><br>
      新密碼<label id="newLabel" class="check"></label><br>
      <input type="password" name="new" class="s" id="new"><br>
      新密碼確認<label id="reNewLabel" class="check"></label><br>
      <input type="password" name="reNew" class="s" id="reNew"><br>
<!--       <input type="button" value="確認送出" class="s" id="submit" onclick="Submit();"> -->
      <button type="button" id="submit" class="s" onclick="Submit();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>
      </div>
    </div>
  </body>
</html>