    <div class="container-fluid col-md-9">
      <div id="forumContent" style="margin-left:0px;">

        <div class="row-fluid" style="margin-left: 0px; margin-bottom: 10px;">
          <div class="col-md-7">
           <h1 id="title" style="color:#D26900; margin-left:0px;"></h1>
          </div>
          <div id="d_searchDiv" class="col-md-5" style="display:inline-block; text-align:right;">   
            <input type="text" class="s" id="searchWord" placeholder="搜尋文章"/>
               <button value="搜尋" id="search" class="b" ><img src="/images/img_forum/search_icon.png"/>搜尋</button>
          </div>
       </div>

      <div class="row-fluid">
        <div class="col-md-12" style="margin-left: 0px;">
          <nav id="navbar-example" class="navbar navbar-default navbar-static">
          <!--<ul id="m_boardlist" class="nav nav-pills navbar-right" role="tablist">
            <li ><a href='/forum' style='color: #000000;' role='button'><span class='glyphicon glyphicon-list'></span> 論壇看板列表</a></li>
          </ul>-->
          <ul id="m_post" class="nav nav-pills navbar-right" role="tablist">
            <li><a class="post" onclick="postArticle();" style='margin:5px 5px 5px 5px; padding: 5px;background-color: #F19766; cursor: pointer;'><span class='glyphicon glyphicon-pencil'></span> 發表文章</a></li>
          </ul>
          
          <ul id="boardlist" class="nav nav-pills" role="tablist"> </ul>
          
          <ul id="d_post" class="nav nav-pills navbar-right" role="tablist">
            <li><a class="post" onclick="postArticle();" style='margin:5px 5px 5px 5px; padding: 5px;background-color: #F19766; cursor: pointer;'><span class='glyphicon glyphicon-pencil'></span> 發表文章</a></li>
          </ul>&nbsp;
          <!--<ul id="d_boardlist" class="nav nav-pills navbar-right" role="tablist">
            <li ><a href='/forum' style='color: #000000;' role='button'><span class='glyphicon glyphicon-list'></span> 論壇看板列表</a></li>
          </ul>-->
        </div>
      </nav>
       </div>
        <hr>
        </div>
       
      <div class="row-fluid">
        <div class="col-md-7 text-left">
           <table id="page" class="text-left" cellspacing=8 style="margin-left: 0px;"></table>
        </div>
         <div class="col-md-5"></div>
          <br><br><br><br>
      </div>
     
      <div class="row-fluid">
        <div id="tabDiv" class="col-md-9">
          <!-- <ul class="tabs"> -->
          <ul class="nav nav-pills" id="tabs">
            <li id="all"><a style="cursor: pointer;" onclick="tabClick('all');">全部</a></li>
            <li id="motion"><a style="cursor: pointer;" onclick="tabClick('motion');">病況與心情</a></li>
            <li id="share"><a style="cursor: pointer;" onclick="tabClick('share');">分享</a></li>
            <li id="problem"><a style="cursor: pointer;" onclick="tabClick('problem');">問題</a></li>
            <li id="others"><a style="cursor: pointer;" onclick="tabClick('others');">其它</a></li>
            <li id="elite" class="nonActiveOrange"><a style="cursor: pointer;" onclick="tabClick('elite');"><span class='glyphicon glyphicon-star' style="top:4px;"></span> 精華區</a></li>
          </ul>
        </div>
         <div id="goToBoard">
            <!--<label style="display: inline;font-size: 22px; margin-right: 10px; color:#533828;">前往：</label>-->
            
            <select id="board"></select>
            <select id="boardCategory"></select>
            
            
          </div>
          <br><br><br>
      </div>

      <div id="articleListDiv" class="row-fluid">
        <div class="col-md-12">
          <table id="articleList" class="table table-hover"></table>
        </div>
      </div>
      <div class="row-fluid">
        <span id="msg" style='color: #333; font-size:18px; text-align:center; margin:40px;'></span>
        <div class="col-md-12">
          <table id="pageDown" style="margin-left:0px;" cellspacing=8 ></table>
        </div>
         
      </div> 
    </div>
    </div>