<!DOCTYPE HTML>
<html style="height: 100%">
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/css_public/themes/alertify.core.css">
    <link rel="stylesheet" href="/styles/css_public/themes/alertify.default.css">

    <script src="/js/js_public/modalBox.js-master/modalBox-min.js"></script>
    <script src="/js/js_public/alertify.js"></script>
    <script src="/js/js_friends/mainJS.js"></script>
	</head>
	<body id="body" style="height: 100%">
    <div class="container-fluid"  style="height: 100%">
        <!-- 正文 -->
        <h1 style="color:#D26900;">朋友</h1>
        搜尋暱稱：<input type="text" name="alias" id="alias">
        <input type="button" value="搜尋" onclick="searchAlias()"><br>
        <div id="searchList" style="float: left; width: 225px; height: 100%">
        </div>
        <div id="friendsList" style="float: left; width: 225px; height: 100%">
        </div>
    </div>
  </body>
</html>