<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/css_public/themes/alertify.core.css">
    <link rel="stylesheet" href="/styles/css_public/themes/alertify.default.css">

    <script src="/js/js_public/modalBox.js-master/modalBox-min.js"></script>
    <script src="/js/js_public/alertify.js"></script>
    <script src="/js/js_friends/mainJS.js"></script>
	</head>
	<body id="body">
    <!-- 正文 -->
    <h1 style="margin-bottom:30px;">朋友</h1>
    <div id="friendsList">
    </div>
  </body>
</html>