<html>
	<head>
		<title>test page</title>
	</head>
	<body>
		<h1>This is testing page!</h1>
		<div id="test">
			author:<input type="text" id="author">
			<br>
			date:<input type="text" id="date">
			<br>
			weight:<input type="text" id="weight">
			<br>
			bloodpressure:<input type="text" id="bloodPresure">
			<br>
			memo:<input type="text" id="memo">
			<br>
			<button id="submit_btn">更新</button>
		</div>

		<div id="success">
			<h4>success</h4>
		</div>
	</body>
</html>