<html>
	<head>
		<title>test page</title>
	</head>
	<body>
		<h1>This is testing page!</h1>
		<div id="add_test">

		<!-- commit -->
			<!-- author:<input type="text" id="author"> -->
			<!-- <br> -->
			<h3>add:</h3>
			<br>
			date:<input type="text" id="add_date">
			<br>
			weight:<input type="text" id="add_weight">
			<br>
			收縮壓(大):<input type="text" id="add_squbloodPresure">
			<br>
			舒張壓(小):<input type="text" id="add_bloodPresure">
			<br>
			memo:<input type="text" id="add_memo">
			<br>
			<button id="add_sub">submit</button>
		</div>

		<br>

		<div id="edit_test">
			<!-- author:<input type="text" id="author"> -->
			<!-- <br> -->
			<h3>edit:</h3>
			<br>
			date:<input type="text" id="date">
			<br>
			weight:<input type="text" id="weight">
			<br>
			收縮壓(大):<input type="text" id="squbloodPresure">
			<br>
			舒張壓(小):<input type="text" id="bloodPresure">
			<br>
			memo:<input type="text" id="memo">
			<br>
			<button id="edit_sub">submit</button>
		</div>
		
		<br>

		<div id="delete_test">
			<!-- author:<input type="text" id="author"> -->
			<!-- <br> -->
			<h3>delete:</h3>
			<br>
			date:<input type="text" id="del_date">
			<br>
			<button id="delete_sub">submit</button>
		</div>

	</body>
</html>