<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_article/style.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/js_article/mainJS.js"></script>
	</head>
	<body id="body">
    <div id="content">&nbsp癌病友論壇
      <div id="ArticlePanel">
        <button value="刪除文章" id="deleteArticle" class="b" onclick="deleteArticle();" style="display:none;"><img src="/images/img_forum/delete_icon.png"/>刪除文章</button>
        <button value="編輯文章" id="editArticle" class="b" onclick="editArticle();" style="display:none;"><img src="/images/img_forum/post_icon.png"/>編輯文章</button>
        <button value="瀏覽其它文章" id="backToList" class="b" onclick="backToList();"><img src="/images/img_forum/view_icon.png"/>瀏覽其他文章</button>
      </div>
      <!-- <table id="article">
        <tr>
　       <td id="articleAvatar" rowspan="2" style='width:50px;'></td>
　       <td id="articleTitle"></td>
         <td></td> <td></td>
         <td id="articleAvatar_type" rowspan="2" style='width:50px;'></td></tr>
　      <tr id="articleData"></tr>
        <tr><td colspan=5 id="articleContent"></td></tr>
        <tr><td id="niceArticle"></td><td id="niceCount" style="padding:12px 0px 2px 20px; color:black; font-size:20px;"></td></tr>
      </table> -->
      <table id="article">
        <tr>
         <td id="articleAvatar_type" rowspan="2" style='width:50px;'></td>
　       <td id="articleAvatar" rowspan="2" style='width:50px;'></td>
　       <td id="articleTitle" colspan="3"></td>
         <td></td> <td></td>
         </tr>
　      <tr id="articleData"></tr>
        <tr><td colspan=5 id="articleContent"></td></tr>
        <tr>
          <td id="niceArticle"></td>
          <td colspan=2 id="niceCount" style="padding:5px 0px 0px 20px; color:#533828; font-size:20px;"></td>
        </tr>
      </table>

      <div id="commentDiv">
        <table id="commentList"></table><br>

        <div id="leaveMessage">
          留個言吧！<br>
          <textarea type="text" name="comment" class="s" id="comment"></textarea>
          <button value="送出留言" id="commentSend" class="b" onclick="leaveComment();updateResponseNum();"><img src="/images/img_forum/check_icon.png"/>送出留言</button>
        </div>
      </div>
    </div>

    <!-- <div id="signup">&nbsp簡易註冊
        <form id="simpleSignUp">
          暱稱<label id="checkAlias" class="check"></label><br>
          <input type="text" name="UserAlias" class="s" id="UserAlias"><br>
          帳號<label id="checkAccount" class="check"></label><br>
          <input type="text" name="UserAccount" class="s" id="UserAccount"><br>
          密碼<label id="checkPwd" class="check"></label><br>
          <input type="password" name="UserPwd" class="s" id="UserPwd"><br>
          確認密碼<label id="checkPwdConfirm" class="check"></label><br>
          <input type="password" name="UserPwdConfirm" class="s" id="UserPwdConfirm"><br>
          身分<label id="checkType" class="check"></label><br>
          <select name="UserType" class="s" id="UserType">
            <option value='P'>病友</option>
            <option value='F'>家屬</option>
            <option value='S'>社工師</option>
            <option value='D'>醫生</option>
            <option value='N'>一般民眾</option>
          </select><br>
          E-mail<label id="checkEmail" class="check"></label><br><input type="text" name="UserEmail" class="s" id="UserEmail"><br>
          <button type="button" id="submit" class="b" onclick="check();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>
        </form>
    </div> -->
  </body>
</html>