<div id="gs_content" class="container-fluid col-md-6">

  <h1 style="color:#D26900;">新手上路</h1>
  <div class="row-fluid">
  <div class="col-md-6" id="gs_menu">
  <ul class="nav">
    <li class="active"><a data-toggle="tab" href="#gs_content1">如何註冊一個帳號，加入作夥？</a></li>
    <li><a data-toggle="tab" href="#gs_content2">使用個人頁面，記錄心情點滴～</a></li>
    <li><a data-toggle="tab" href="#gs_content3">作夥論壇，資訊分享的好所在！</a></li>
    <li><a data-toggle="tab" href="#gs_content4">專業知識，頭好壯壯長知識！</a></li>
    <li><a data-toggle="tab" href="#gs_content5">一起來作夥找人、結交新朋友吧！</a></li>
    <li><a data-toggle="tab" href="#gs_content6">個人設定是什麼？能吃嗎？</a></li>
  </ul>
</div>
<div class="col-md-4 hidden-phone hidden-tablet" id="gs_pageInfo">
  <p>
  如果您是初次造訪「ZOHUE台灣頭頸部癌病友作夥加油站！」，或是不知道該如何成為作夥的一份子，
  來來來～作夥的新手上路篇將會一步步地教您如何成為正港作夥人！現在就開始吧！
  <p>
  </div>
</div>

  <div class="tab-content">
  <div class="media tab-pane fade active in" id="gs_content1">
    <div class="media-left">
      <a href="/images/img_gettingStarted/gs_signup.jpg" target="_blank" title="點我看大圖！">
        <img class="media-object gs_image" src="/images/img_gettingStarted/gs_signup.jpg"/>
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading gs_heading">註冊一個帳號，加入作夥吧！</h2>
      <p class="gs_text">
      當您進入「ZOHUE台灣頭頸部癌病友作夥加油站！」，可以在畫面右側看到「簡易註冊」區域，
      這時候，只要在綠色區塊幫自己填上一個響亮的暱稱、好記的帳號與密碼、選擇自己的身份，
      並且視您的需要填入 E-mail 電子信箱（建議填寫喔！），最後按下橘色的「確認送出」按鈕，
      就可以成為作夥的一份子囉！是不是揪甘單阿～
      </p>
      <p class="gs_text">
      如果您本來就有 Facebook 帳號，可以直接點選畫面右上角的
      <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_fblogin.jpg"/>
      按鈕，此時作夥會將您的FB基本資訊填寫在簡易註冊區域裡，只要再填上 E-mail 、選擇身分並確認送出就可以囉！
      更棒的是，以後登入作夥時不用再輸入帳號密碼，直接點FB登入按鈕就行了～
      </p>
      <h2 class="gs_heading">完整註冊，以建立個人頁面，並取得發文權限！</h2>
      <p class="gs_text">
      簡易註冊或 FB 註冊完後，您會發現畫面左邊出現橘色的「完整註冊」選項，這表示您還需要填入更詳細的資訊喔！
      完成完整註冊後，您可以建立個人頁面，在上面抒發心情，更可以在論壇上發表文章，將很棒的資訊分享給需要的人！
      </p>
    </div>
    <p class="gs_text">常見問題：</p>
    <ul class="gs_qa">
      <li>為什麼建議填寫 E-mail 呢？</li>
      <p>
      當我們不小心忘記密碼的時候，系統會寄信到您的信箱，告訴您該怎麼解決。
      如果沒有填 E-mail，又不小心忘記密碼的話，就要重新註冊一個帳號了ˊ_ˋ～<br>
      另外，填寫 E-mail 還可以訂閱電子報，來自作夥的最新消息隨時報您知喔！
      </p>
      <li>為什麼要選擇身分呢？不同的身分有什麼差別嗎？</li>
      <p>
      除了醫師與社工師之外，並沒有差別喔！
      目前，簡易註冊時可供選擇的身分有病友、家屬、一般民眾三種，大家可能還會在各處看到比較不一樣的身分圖示，
      這些人就是醫師或社工師，他們也會一起在作夥上陪伴大家、給予專業意見。
      </p>
    <ul>
  </div>
  <div class="media tab-pane fade" id="gs_content2">
    <div class="media-left">
      <a href="/images/img_gettingStarted/gs_profile.png" target="_blank" title="點我看大圖！">
        <img class="media-object gs_image" src="/images/img_gettingStarted/gs_profile.png"/>
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading gs_heading">個人頁面都裝了些什麼呢？</h2>
      <p class="gs_text">
      
      </p>
      <p class="gs_text">
      如果您本來就有 Facebook 帳號，可以直接點選畫面右上角的
      <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_fblogin.jpg"/>
      按鈕，此時作夥會將您的FB基本資訊填寫在簡易註冊區域裡，只要再填上 E-mail 、選擇身分並確認送出就可以囉！
      更棒的是，以後登入作夥時不用再輸入帳號密碼，直接點FB登入按鈕就行了～
      </p>
      <h2 class="gs_heading">完整註冊，以建立個人頁面，並取得發文權限！</h2>
      <p class="gs_text">
      簡易註冊或 FB 註冊完後，您會發現畫面左邊出現橘色的「完整註冊」選項，這表示您還需要填入更詳細的資訊喔！
      完成完整註冊後，您可以建立個人頁面，在上面抒發心情，更可以在論壇上發表文章，將很棒的資訊分享給需要的人！
      </p>
    </div>
    <p class="gs_text">常見問題：</p>
    <ul class="gs_qa">
      <li>為什麼建議填寫 E-mail 呢？</li>
      <p>
      當我們不小心忘記密碼的時候，系統會寄信到您的信箱，告訴您該怎麼解決。
      如果沒有填 E-mail，又不小心忘記密碼的話，就要重新註冊一個帳號了ˊ_ˋ～<br>
      另外，填寫 E-mail 還可以訂閱電子報，來自作夥的最新消息隨時報您知喔！
      </p>
      <li>為什麼要選擇身分呢？不同的身分有什麼差別嗎？</li>
      <p>
      除了醫師與社工師之外，並沒有差別喔！
      目前，簡易註冊時可供選擇的身分有病友、家屬、一般民眾三種，大家可能還會在各處看到比較不一樣的身分圖示，
      這些人就是醫師或社工師，他們也會一起在作夥上陪伴大家、給予專業意見。
      </p>
    <ul>
  </div>
  </div>
</div>
      
