 <!DOCTYPE=html>
 <script>
      $( document ).ready(function() {
        if($( window ).width() < 768){
          $("html, body").animate({ scrollTop: "445px"} , 200, "swing");
        }
      });
  </script>

       
        

<div id="gs_content" class="container-fluid col-md-6">
  <h1 style="color:black; margin: 10px 0px 20px 20px;">新手上路</h1>
  <div class="row">
    <div class="col-md-7" id="gs_menu">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
         <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingZero">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                 關於作夥加油站
              </a>
            </h4>
          </div>
          <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
            <div class="panel-body">
                <p class="gs_text">
                為了讓台灣的頭頸部癌病友與家屬可以將自身經歷或是好康資訊分享給大家，造福更多遇到相似困難的人們， 或是在不知所措的時候，有個地方可以讓您知道大家都是如何度過或解決， 「作夥論壇」就誕生了！作夥秉持著資訊分享的精神， 做出一個讓大家能夠將有用資料放在網站上的所在。當您有關於頭頸部癌症的相關疑難雜症， 可以在作夥論壇上發表，讓有相似經驗的大家參與討論，有時候更會有專業的醫師及社工師協助回答， 讓您不是孤軍奮戰！如果您知道一些有用的資訊，也可以發表在論壇上造福更多有需要的人！
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_proinfo.png" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_proinfo.png"/>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                註冊帳號，加入作夥吧
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
            <p class="gs_text">
                當您進入「ZOHUE台灣頭頸部癌病友作夥加油站！」，可以在畫面右側看到「簡易註冊」區域，
              這時候，只要在綠色區塊幫自己填上一個響亮的暱稱、好記的帳號與密碼、選擇自己的身份，
              並且視您的需要填入 E-mail 電子信箱（建議填寫喔！），最後按下橘色的「確認送出」按鈕，
              就可以成為作夥的一份子囉！是不是揪甘單阿～
              </p>
              <p class="gs_text">
              如果您本來就有 Facebook 帳號，可以直接點選畫面右上角的
              <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_fblogin.jpg"/>
              按鈕，此時作夥會將您的FB基本資訊填寫在簡易註冊區域裡，只要再填上 E-mail 、選擇身分並確認送出就可以囉！
              更棒的是，以後登入作夥時不用再輸入帳號密碼，直接點FB登入按鈕就行了～
              </p>
              <h2 class="gs_heading">完整註冊，以建立個人頁面，並取得發文權限！</h2>
              <p class="gs_text">
              簡易註冊或 FB 註冊完後，您會發現畫面左邊出現橘色的「完整註冊」選項，建議您進一步填入更詳細的資訊喔！！
              完成完整註冊後，您可以建立個人頁面，在上面抒發心情，更可以在論壇上發表文章，將很棒的資訊分享給需要的人！
            </p>
            <p class="gs_text">常見問題：</p>
              <ul class="gs_qa">
                <li>為什麼建議填寫 E-mail 呢？</li>
                <p>
                當您不小心忘記密碼的時候，您可以請系統寄信到您的信箱，告訴您該怎麼解決。
                如果沒有填 E-mail，又不小心忘記密碼的話，就要重新註冊一個帳號了ˊ_ˋ～<br>
                另外，填寫 E-mail 還可以訂閱電子報，來自作夥的最新消息隨時報您知喔！
                </p>
                <li>為什麼要選擇身分呢？不同的身分有什麼差別嗎？</li>
                <p>
                除了醫師與社工師之外，並沒有差別喔！
                目前，簡易註冊時可供選擇的身分有病友、家屬、一般民眾三種，大家可能還會在各處看到比較不一樣的身分圖示，
                這些人就是醫師或社工師，他們也會一起在作夥上陪伴大家、給予專業意見。
                </p>
            </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                作夥論壇，分享好所在
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p class="gs_text">
                為了讓作夥的大家可以將自身經歷或是好康資訊分享給大家，造福更多遇到相似困難的人們，
                或是在不知所措的時候，有個地方可以讓您知道大家都是如何度過或解決，
                「作夥論壇」就誕生了！作夥秉持著資訊分享的精神，
                做出一個讓大家能夠將有用資料放在網站上的所在。當您有關於頭頸部癌症的相關疑難雜症，
                可以在作夥論壇上發表，讓有相似經驗的大家參與討論，有時候更會有專業的醫師及社工師協助回答，
                讓您不是孤軍奮戰！如果您知道一些有用的資訊，也可以發表在論壇上造福更多有需要的人！
                </p>
                <h2 class="media-heading gs_heading">作夥論壇該怎麼使用呢？</h2>
                <p class="gs_text">
                首先，可以看到畫面左邊選單有一個
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_forumNoti.JPG"/>連結，括號裡的數字顯示您此次登入距離上次登入之間，有多少新文章尚未觀看，
                點選後數字會歸零，並出現「作夥病友論壇—總版」畫面，列出作夥論壇裡所有類型的文章。
                您只要點選任一文章連結，就可以觀看該篇文章。
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_allArticles.JPG" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_allArticles.JPG"/>
                  </a>
                </div>
                <p class="gs_text">
                如果總版的文章讓您不知從何尋找適合的資訊，也可以使用如下圖的工具列，上頭列出了所有的看板分類：
                「病友照護類」看板針對的是各種類型的頭頸部癌症；
                「生活機能類」看板讓大家可以在上面討論各種可能會遇到的生活小問題；
                「社團公告類」看板會由作夥放上關於作夥及頭頸部癌症的最新消息；
                「平台小幫手類」看板則是專門讓大家回報關於網站的問題，以及討論網站操作相關的疑惑！
                您只要依照自身需求，點選符合類型的看板，就可以看到所有與該看板主題相關的文章囉！
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_forumBar.JPG" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_forumBar.JPG"/>
                  </a>
                </div>
                <p class="gs_text">
                當您看到喜歡的文章，可以點選文章右上方橘色的「轉寄文章」按鈕，
                將文章轉寄給自己或其他人，或是點選「分享至臉書」將文章分享到 FB 上讓朋友們觀看。
                如果點下「追蹤文章」按鈕，只要有人在該篇文章下留言或推薦，您就會收到通知，不怕遺漏關於該文章的最新消息。
                此外，如果您是作夥的一員，更可以點選
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_forumButton.png"/>以發表屬於自己的文章。
                您能夠隨時編輯或刪除以前發表過的文章，也可以在任何文章下方留言參與討論。趕快發表第一篇文章，
                讓作夥論壇快快熱起來吧！
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_article.png" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_article.png"/>
                  </a>
                </div>
                <p class="gs_text">
                您可能還會眼尖地發現文章內容下方出現了「有？人推薦」、「有？人檢舉」等字樣，有註冊的人更會看到
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_nice.png"/>及
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_report.png"/>按鈕。
                當您覺得一篇文章很棒的時候，可以按下推薦按鈕給作者一個鼓勵，此時按鈕上的笑臉會變成黃色；
                若您認為一篇文章讓您感到不舒服或有問題，可以按下檢舉按鈕並且選擇檢舉事由，此時按鈕上的笑臉會變成紅色，
                作夥的管理員收到檢舉後，會參考您的檢舉事由並且做相對應的處理。您能隨時收回推薦或檢舉。
                管理員會將文章的推薦及檢舉次數即時地顯示出來，大家在觀看文章時不妨可以參考唷！
                </p>
                <p class="gs_text">常見問題：</p>
                <ul class="gs_qa">
                  <li>為什麼我不能在論壇上發表文章或留言？</li>
                  <p>
                  沒有在作夥上註冊帳號，就不能在論壇發表文章或留言喔！
                  此外，推薦和檢舉的功能也是作夥會員才能使用的功能喔！
                  </p>
                  <li>為什麼我在總版發表文章，要先選擇看板呢？</li>
                  <p>
                  為了方便分類文章，讓作夥的使用者可以快速找到符合自身需求的資訊，在發表任何文章之前，
                  我們都需要您先選擇文章所屬的看板。您只要在總版點選「發表文章」按鈕，畫面會先將您帶到看板列表，
                  此時只要選擇一個與您將發表的文章相關的看板，就可以開始發表文章了。如果您已經先透過總版上的工具列進到某個看板，
                  再發表文章，就不用選擇看版，因為您發表的文章會直接分類在目前的看板下。
                  </p>
                <ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 專業知識，一起長知識
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <h2 class="media-heading gs_heading">專業知識，頭好壯壯長知識！</h2>
                <p class="gs_text">
                「專業知識」裡頭放著醫師與社工師推薦的好文章，作夥的大家若對頭頸部癌症尚有疑惑，
                也可以來專業知識找尋可以幫助您的資訊。如果您想要推薦某篇專業知識，或是在某篇專業知識下留言討論，
                可以點選該篇文章的「前往討論」連結，便可以推薦或參與討論囉！
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_proinfo.png" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_proinfo.png"/>
                  </a>
                </div>
            </div>
          </div>
        </div>
           <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 個人頁面，點滴在心頭
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <h2 class="media-heading gs_heading">個人頁面都裝了些什麼呢？</h2>
                <p class="gs_text">
                「個人頁面」就像是功能強大的日記本，不但可以記錄您就診、復建時的心情與感覺，
                也可以記錄您日常生活中遇到的大小瑣事、心情或想法，
                您還可以放上喜歡的照片或圖片，並且自由地選擇想要分享的對象，就算寫錯了，
                也不必大費周章地撕掉一頁或是用立可白、橡皮擦塗塗抹抹，只要再編輯或刪除即可！
                個人頁面除了可以從左邊的選單找到之外，在網站各處某些有名字、有照片的地方，
                都可以點選並前往屬於該使用者的個人頁面！與病魔搏鬥的心情，只有同病相憐的人最能體會，
                這個園地就是設計來讓大家彼此打氣加油、互相關懷的。因此，您可以隨時觀看別人的個人頁面，
                想要對作夥的某個人說話時，也可以在他／她的頁面上留言喔！
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_profile.png" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_profile.png"/>
                  </a>
                </div>
                <h2 class="media-heading gs_heading">個人頁面有哪些功能呢？</h2>
                <p class="gs_text">
                在個人頁面上方，您可以看到該個人頁面擁有者的大頭照與基本資訊，還有一些藍色的按鈕，
                包括「動態時報」和「關於」頁面。動態時報就是您的日記本，綠色的區塊讓您填上想要發表的動態，
                而綠色區塊右下方的按鈕列
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_profileButton.png"/>，
                可以讓您選擇要分享的對象、是否要插入圖片，以及是否要送出欲發表的動態。要注意的是，
                作夥預設的分享對象是「人人都看得到」喔！如果有什麼小祕密只想告訴朋友或對自己說，
                一定要記得更改唷！成功送出的動態會馬上顯示在您的頁面上，其它用戶也可以在您的動態下面留言，
                您也可以去其它用戶的動態下面留言，彼此交流、互相關心。此外，
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_nice.png"/>可以讓您推薦喜歡的動態；
                「其他」按鈕中的「檢舉」按鈕可以檢舉任何讓您覺得不舒服或有問題的動態、
                「編輯」按鈕和「刪除」按鈕可以讓您修改或刪除過去發表的動態。您也可以隨時更改想要分享的對象唷！
                準備好了嗎？趕快在您的個人頁面上留下足跡吧！
                </p>
                <p class="gs_text">
                那「關於」頁面到底是什麼呢？關於頁面記錄了該個人頁面擁有者的基本資料，
                可以讓大家更快速地了解作夥上的彼此！如果有不想被別人看到的資料，
                也可以在自己的關於頁面設定分享對象唷～
                </p>
                <div class="gs_imageDiv">
                  <a href="/images/img_gettingStarted/gs_about.JPG" target="_blank" title="點我看大圖！">
                    <img class="gs_imageH" src="/images/img_gettingStarted/gs_about.JPG"/>
                  </a>
                </div>
                <p class="gs_text">常見問題：</p>
                <ul class="gs_qa">
                  <li>我沒有註冊帳號，可以使用個人頁面嗎？</li>
                  <p>
                  沒有在作夥上註冊帳號，就不能擁有自己的個人頁面，即使可以觀看別人的個人頁面，也不能推薦並和他們留言互動。
                  如果您已經簡易註冊但還沒完成完整註冊，就只能到別人的個人頁面上觀看或留言，
                  沒有屬於自己的個人頁面喔！所以～趕快加入作夥吧！
                  </p>
                <ul>
            </div>
          </div>
        </div>
           <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                作夥找人，結交新朋友
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <h2 class="media-heading gs_heading">一起來作夥找人，結交新朋友吧！</h2>
              <p class="gs_text">
              當我們面臨困境時，最需要的就是親朋好友的陪伴。「作夥找人」功能可以讓您在作夥上找到和您一樣正和病痛奮鬥，
              或是有相關經驗的人們，您可以送出好友邀請給他們，和他們結為作夥上的好友。<br>
              要如何找人呢？在作夥找人的畫面上方，您可以看到一排搜尋列，
              這排搜尋列可以幫助您快速找到特定暱稱、疾病、居住地或身分的人。
              </p>
              <div class="gs_imageDiv">
                <a href="/images/img_gettingStarted/gs_friend.png" target="_blank" title="點我看大圖！">
                  <img class="gs_imageH" src="/images/img_gettingStarted/gs_friend.png"/>
                </a>
              </div>
              <p class="gs_text">常見問題：</p>
              <ul class="gs_qa">
                <li>我在作夥找人上看到了「封鎖」按鈕，那是什麼？</li>
                <p>
                如果您不想要被某個用戶找到（例如經常做奇怪發言的用戶），可以點選封鎖按鈕，被封鎖的人就無法在找人上找到您了。
                當一個用戶被太多其它用戶封鎖時，系統管理員就會做處理，並視情況取消這個用戶的權限！
                </p>
                <li>我可以解除好友或解除封鎖嗎？</li>
                <p>
                可以，您隨時都可以解除好友或是解除封鎖！
                </p>
                <li>為什麼我找不到找人的功能？</li>
                <p>
                要先在作夥上註冊帳號，才能使用找人的功能喔！
                </p>
              <ul>
            </div>
          </div>
        </div>
           <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                 個人設定，作夥通知您
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <h2 class="media-heading gs_heading">個人設定是什麼？</h2>
                <div class="gs_imageDiv" style="float:right;margin:15px 10px;">
                  <a href="/images/img_gettingStarted/gs_setting.png" target="_blank" title="點我看大圖！">
                    <img src="/images/img_gettingStarted/gs_setting.png"/>
                  </a>
                </div>
                <p class="gs_text">
                當您點開畫面左邊的「個人設定」選項，會展開一個子選單。其中，「修改會員資料」可以讓您更改基本資料，
                包括暱稱、大頭照等，如果看膩了自己的大頭照，或是想換個暱稱，來這裡改就對啦～「更換密碼」讓您可以隨時更改密碼，「訂閱電子報」則可以讓您收到來自作夥的最新消息，不過這個功能僅限於有填寫 E-mail 電子信箱的會員喔！
                </p>
                <h2 class="media-heading gs_heading">通知又是什麼呢？</h2>
                <p class="gs_text">
                相信大家都看到右上方的
                <img class="gs_imageAlign" src="/images/img_gettingStarted/gs_notiButton.png"/>了！這就是通知按鈕啦～
                通知是一個很重要的功能，它會告訴您誰送了交友邀請、誰接受了交友邀請，
                以及誰在您的文章與您所追蹤文章上留言、推薦等消息，
                當有您尚未讀到的通知時，通知按鈕會從灰色變為橘色，也會顯示未讀的通知數量，
                有了它，您就不怕漏掉任何重要的消息啦～
                </p>
                <p class="gs_text">常見問題：</p>
                <ul class="gs_qa">
                  <li>要如何訂閱或取消電子報？</li>
                  <p>
                  只要點下「訂閱電子報」，就可以成功訂閱，如果想要取消訂閱，再按一次「訂閱電子報」即可！
                  </p>
                  <li>為什麼我找不到個人設定與通知？</li>
                  <p>
                  要先在作夥上註冊帳號，才有個人設定與通知的功能喔！
                  </p>
                <ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

