#content{
	margin: -15px 5px 20px 5px;
}
.SearchBar{
	border-radius: 10px;
	min-height: 45px;
}
.SearchButton{
	border-radius: 10px;
	min-height: 45px;
}
.input-group{
	margin-bottom: 10px;
}
.not {
	/*background-color: floralwhite;*/
	background-color: #FCFCFC;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	margin-top: 5px;
	/*padding: 10px;*/
	overflow:hidden;
	font-size: 20px;
	color: black;
	padding: 3% 0;
}
.message {
	width: 70%;
	padding: 5px;
	float: left;
	word-wrap: break-word;
}
.right{
	width: 25%;
	float: left;
	margin-left: 10px;
	padding: 6% 0;
}
.author{
	word-wrap: break-word;
	text-align: center;
	font-size: 18px;
}
.image {
	margin-top: 5px;
}
#cat{
	color: #868686;
	font-size: 18px;
}
#date{
	color: #868686;
	font-size: 18px;
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

.modalBox{
	padding:5px;
	border:1px solid #CCC;
	background:#FFF;
	display:none;
	margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto;
}


.mobile_modalBox{
	position: fixed;
	top: 0px;
	left: 1px;
	z-index: 10;
	display:none;
}

#btn_backProInfo{
	width: 100%;
}

#ifm_article{
	width: 100%;
	border: none;
}