#body{
	font-family: "微軟正黑體";
}

#searchPanel{
	//margin-right: 150px;
	float:right;
	width: 600px;
}

#searchWord{
	width: 100%;
	margin: 8px 0px 0px -15px;
}

#signup{
	display: none !important;
}

#search{
	//width:90px;
	font-size: 20px;
	color:#533828;
	margin-top:9px;
	background-color: rgba(102, 141, 60, 0.4);
}

#search.hover{
	background-color: rgba(102, 141, 60, 0.8);
	color:#816C58;
}

#cancleSearch{
	//width:90px;
	font-size: 20px;
	color:#533828;
	margin-top:9px;
	background-color: rgba(102, 141, 60, 0.4);
}

#cancleSearch.hover{
	background-color: rgba(102, 141, 60, 0.8);
	color:#816C58;
}

#page{
	float:left;
	margin: 15px 0px 0px 0px;
	font-size: 20px;
	color:#533828;

}

#pageDown{
	float:left;
	margin: 5px 0px 10px 20px;
	font-size: 20px;
	color:#533828;

}

#sideBanner{
	//display: none !important ;
}

#article{
	/*margin: 26px 0px 0px 15px;*/
	margin: 70px 0px 0px 15px;
}

#articleList{
	padding:10px;
	color:#533828;
	font-size: 20px;
	table-layout: fixed;
	width:100%;
}


@media all and (max-width: 1023px){
	#page{
		display: none !important;
	}
}

@media all and (max-width: 1300px) {
	
}


	td:nth-child(1){
		width: 90px !important;
	}
	td:nth-child(2){
		width: 100px !important;
	}
	td:nth-child(3){
		width: 260px !important;
	}
	td:nth-child(4){
		width: 130px !important;
	}
	td:nth-child(5){
		width: 130px !important;
	}
	td:nth-child(6){
		width: 130px !important;
	}
	td:nth-child(7){
		width: 160px !important;
	}

.s{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.3);
	padding: 8px 8px 8px 8px;
	//margin: 8px 3px 0px 0px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.b{
	//float:right;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.b:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

.check{
	color:#D26900;
	font-size: 15px;
}



#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

.modalBox{
	padding:5px;
	border:1px solid #CCC;
	background:#FFF;
	display:none;
	margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto;
}

.mobile_modalBox{
	position: fixed;
	top: 0px;
	left: 1px;
	z-index: 10;
	display:none;
}

#btn_backProInfo{
	background-color:#FF7C0D;
	margin:0px;
	width: 100%;
	border-radius: 7px;
	//color: #FFF;
}

#ifm_article{
	width: 100%;
	border: none;
}