<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_ProInfo/style.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/js_ProInfo/mainJS.js"></script>
    <script src="/js/js_ProInfo/bootstrap.min.js"></script>
	</head>
	<body id="body">
    <div class="container-fluid">
    &nbsp專業知識
    <div class="row-fluid">
      <div class="span7" id="infoContent">
      <div class="row-fluid">
        <div class="span2">
          <table id="page" cellspacing=8></table>
        </div>
        <div class="span10">
          <div class="row-fluid">
            <div class="span5 text-right">
              <input type="text" onkeypress="return enterSearch(event);" class="s" id="searchWord">
            </div>
            <div class="span4 text-left">
              <button value="搜尋" id="search" class="b" onclick="searchArticle();"><img src="/images/img_forum/search_icon.png"/>搜尋</button>
              <button value="取消" id="cancleSearch" class="b" onclick="cancleSearch();"><img src="/images/img_forum/cancel_icon.png"/>取消</button>
            </div>
            <div class="span3"></div>
          </div>
        </div>
      </div>
      <div class="row-fluid" style="margin-top:10px;">
        <div class="span12">
          <table id="articleList"></table>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <table id="pageDown" cellspacing=8></table>
        </div>
      </div> 
    </div>
    </div>
    </div>


    <!-- <div id="content">&nbsp專業知識
      <br>
      <div id="searchPanel">
        <input type="text" onkeypress="return enterSearch(event);" class="s" id="searchWord">
        <button value="搜尋" id="search" class="b" onclick="searchArticle();"><img src="/images/img_forum/search_icon.png"/>搜尋</button>
        <button value="取消" id="cancleSearch" class="b" onclick="cancleSearch();"><img src="/images/img_forum/cancel_icon.png"/>取消</button>
      </div>
      <table id="page" cellspacing=8></table>
      <div id="article">
        <table id="articleList">
        </table>
      </div>
      <table id="pageDown" cellspacing=8></table>
    </div> -->
  </body>
</html>