.check{
	color:#D26900;
	font-size: 15px;
}

#submit{
	//width:100px;
	float:right;
	margin-top:25px;
	//color:#816C5B;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
}

#submit:hover{
	//background-color: rgba(102, 141, 60, 0.7);
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

.b{
	//float:right;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.b:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

