<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_forum/style.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/js_forum/mainJS.js"></script>
	</head>
	<body id="body">
    <div id="content">&nbsp癌病友論壇
      <!-- <label>文章類別：<a></a></label> -->
      <br>
      <button value="發表文章" id="post" class="b" onclick="postArticle();"><img src="/images/img_forum/post_icon.png"/>發表文章</button>
      <div id="searchPanel">
        <input type="text" onkeypress="return enterSearch(event);" class="s" id="searchWord">
        <button value="搜尋" id="search" class="b" onclick="searchArticle();"><img src="/images/img_forum/search_icon.png"/>搜尋</button>
        <button value="取消" id="cancleSearch" class="b" onclick="cancleSearch();"><img src="/images/img_forum/cancel_icon.png"/>取消</button>
      </div>
      <table id="page" cellspacing=8></table>
      <div id="article">
        <table id="articleList">
        </table>
      </div>
      <table id="pageDown" cellspacing=8></table>
    </div>
    <input type="hidden" id="refresh" value="no">
  </body>
</html>