.gs_imageH{
  margin:15px 10px;
  width:40vw;
}

.gs_imageV{
  margin:15px 10px;
  width:15vw;
}

.gs_imageDiv{
  text-align: center;
}

.gs_juxtaposeImage{
  margin:15px 10px;
  width:20vw;
}

@media all and (max-width: 768px){
  .gs_imageDiv{
    display: none !important;
  }

  .gs_image{
    width:80vw;
  }
}

#gs_pageInfo{
  background-color: rgba(102, 141, 60, 0.4);
  font-size:20px;
  border-radius: 10px;
  padding:15px;
}

.gs_heading{
  font-weight: bold;
  margin:20px 20px 0px 20px;
}

.gs_text{
  margin:20px;
  font-size:20px;
}

.media{
  border:1px solid rgba(102, 141, 60, 0.4);
  border-radius:10px;
  //padding:0px 15px 15px 15px;
  margin-bottom:20px;
  margin-top:0px;
}

.gs_qa{
  font-size:20px;
}

.gs_imageAlign{
  height:25px;
  vertical-align: top;
}

#gs_menu li a{
  font-size: 20px;
  color:#333;
  border-left:1px solid rgba(102, 141, 60, 0.4);
}

#gs_menu li a:hover{
  border-left:3px solid rgba(102, 141, 60, 0.4);
  color:rgb(102, 141, 60);
  background-color:transparent;
  cursor:pointer;
}

#gs_menu li a:focus, #gs_menu li[class="active"] a{
  border-left:3px solid rgba(102, 141, 60, 0.8);
  color:rgb(102, 141, 60);
  background-color:transparent;
  font-weight: bold;
}