<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_home/style.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/js_home/mainJS.js"></script>
	</head>
	<body id="body">
    <div id="content">&nbsp最新消息
    </div>

    <!-- <div id="signup">&nbsp簡易註冊
        <form id="simpleSignUp">
          暱稱<label id="checkAlias" class="check"></label><br>
          <input type="text" name="UserAlias" class="s" id="UserAlias"><br>
          帳號<label id="checkAccount" class="check"></label><br>
          <input type="text" name="UserAccount" class="s" id="UserAccount"><br>
          密碼<label id="checkPwd" class="check"></label><br>
          <input type="password" name="UserPwd" class="s" id="UserPwd"><br>
          確認密碼<label id="checkPwdConfirm" class="check"></label><br>
          <input type="password" name="UserPwdConfirm" class="s" id="UserPwdConfirm"><br>
          身分<label id="checkType" class="check"></label><br>
          <select name="UserType" class="s" id="UserType">
            <option value='P'>病友</option>
            <option value='F'>家屬</option>
            <option value='S'>社工師</option>
            <option value='D'>醫生</option>
            <option value='N'>一般民眾</option>
          </select><br>
          E-mail<label id="checkEmail" class="check"></label><br><input type="text" name="UserEmail" class="s" id="UserEmail"><br>

          <button type="button" id="submit" class="b" onclick="check();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>

        </form>
    </div> -->
  </body>
</html>