
<div id="content" class="col-md-6 col-sm-10 col-xs-10 col-md-offset-1 ">
  

        <div class="wrapper hidden-phone">
            
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img align="right"src="/images/img_home/slide3.jpg" width="540" height="360" alt=""></li>
                        <li><img align="right"src="/images/img_home/slide2.jpg" width="540" height="360" alt=""></li>
                        <li><img align="right"src="/images/img_home/slide1.jpg" width="540" height="360" alt=""></li>
                        <li><img align="right"src="/images/img_home/slide2.jpg" width="540" height="360" alt=""></li>
                        <li><img align="right"src="/images/img_home/slide3.jpg" width="540" height="360" alt=""></li>
                        <li><img align="right"src="/images/img_home/slide2.jpg" width="540" height="360" alt=""></li>
                    </ul>
                </div>


                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                
                <p class="jcarousel-pagination">
                    
                </p>
            </div>
        </div>
  <p></p>


  <br>    
 

      <p>
      <div class="col-md-11 col-md-offset-1">
      <table class="table table-condensed table-hover " >

              <thead class="active">
                    <tr>
                      <th class="col-md-3" colspan=2 style="color:black">最新公告</th>
                    </tr>
               </thead>

                <tbody >
                   
                    <tr  class="active">
                      <td ><b>2015-08-10</b></td>
                      <td>
                    <a href="">內科增診及門診異動公告</a>
                  </td>
                    </tr>
                    <tr  class="active">
                       <td ><b>2015-08-08</b></td>
                      <td>
                    <a href="">爸爸節活動公告</a>
                 </td>
                 </tr>
                                     <tr class="active">
                      <td><b>2015-08-12</b></td>
                      <td>
                      <a href="">臺大醫院病床狀況公告8/12</a>
                      </td>
                    </tr>
                    <tr  class="active">
                      <td ><b>2015-08-10</b></td>
                      <td>
                      <a href="">內科增診及門診異動公告</a>
                      </td>
                    </tr>
                    <tr  class="active">
                       <td ><b>2015-08-08</b></td>
                      <td>
                      <a href="">爸爸節活動公告</a>
                      </td>
                    </tr>

                    <tr  class="active">
                       <td ><b>2015-08-07</b></td>
                      <td>
                       <a href="">颱風放假公告</a>
                      </td>
                    </tr>
                    <tr  class="active">
                      <td ><b>2015-08-01</b></td>
                      <td>
                      <a href="">ZOHUE周年慶網友見面會</a>
                      </td>
                    </tr>
                    <tr  class="active">
                       <td ><b>2015-05-31</b></td>
                       <td>
                       <a href="">啵啵生日趴活動公告</a>
                       </td>
                    </tr> 
              </tbody>
            </table>
        </div>
    <div class="col-md-11 col-md-offset-1">
      <table class="table table-condensed table-hover " >

              <thead class="active">
                    <tr>
                      <th class="col-md-3" colspan=2 style="color:black">熱門論壇文章</th>
                    </tr>
               </thead>

                <tbody >
                    <tr class="active">
                      <td><b>2015-08-12</b></td>
                      <td>
                    <a href="./article/13">我是新來的腫瘤科醫師，有問題都可以來 413 辦公室找我聊聊！</a>
                  </td>
                    </tr>
                    <tr  class="active">
                      <td ><b>2015-08-10</b></td>
                      <td>
                    <a href="">內科增診及門診異動公告</a>
                  </td>
                    </tr>
                    <tr  class="active">
                       <td ><b>2015-08-08</b></td>
                      <td>
                    <a href="">爸爸節活動公告</a>
                 </td>
                 </tr>
              </tbody>
            </table>
        </div>


</div>