

  <div id='content' class='col-md-6 col-sm-10 col-xs-10 col-md-offset-1'>

    <div id="homepagePicList"></div>
    
    




  <div ng-app="homeApp" ng-controller="announcementCtrl">
    <div class="col-md-11 col-md-offset-1">
      <table class="table table-condensed table-hover " >
        <thead class="active">
          <tr>
            <th class="col-md-3" colspan=2 style="color:black">最新公告</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="todo in announcement">
            <td><b>{{ todo.createdAt.toString().substring(0, 10) }}</b></td>
            <td>
              <a href="./article/{{ todo.id }}">{{ todo.title }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-11 col-md-offset-1">
      <table class="table table-condensed table-hover " >
        <thead class="active">
          <tr>
            <th class="col-md-3" colspan=2 style="color:black">熱門論壇文章</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="todo in topArticles">
            <td><b>{{ todo.createdAt.toString().substring(0, 10) }}</b></td>
            <td>
              <a href="{{ todo.href }}">{{ todo.title }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>