<!DOCTYPE=html>
<div class="btn-group">
 <button type="button" class="btn btn-top btn-top-l" onclick="window.location='/frontboard?tab=all&sort=createdAt&order=DESC&page=1&search='"><span class="glyphicon glyphicon-comment"></span> 作夥論壇 </button>
 <button type="button" class="btn btn-top btn-top-r" onclick="window.location='/proInfo/1'"><span class="glyphicon glyphicon-eye-open"></span> 專業知識 </button>
 <button type="button" class="btn btn-top btn-top-r" onclick="window.location='/gettingStarted'"><span class="glyphicon glyphicon-globe"></span> 關於作夥 </button>
 <!-- <button type="button" class="btn btn-top"><span class="glyphicon glyphicon-envelope"></span> 最新公告 </button> -->
</div>

<div id='content' class='col-md-6 col-sm-10 col-xs-10 col-md-offset-1'>
<!--    <div id="homepagePicList">
    <div id='myCarousel' class='carousel slide col-md-11 col-md-offset-1 hidden-phone' data-ride='carousel' align='center' style='width:540px; height:340px;'>
      <ol class='carousel-indicators'>
        <% for(i=0; i<homepagePics.length; i++){ %>
          <% if(i=="0"){ %>
            <li data-target='#myCarousel' data-slide-to='1' class='active'>
          <% } else { %>
            <li data-target='#myCarousel' data-slide-to='<%=i+1%>'></li>
          <% } %>
        <% } %>
      </ol>
    <div class='carousel-inner' role='listbox'>

      <% for(i=0; i<homepagePics.length; i++){ %>
        <% if(i=="0"){ %>
          <div class='item active'>
            <img id='img_0' src='<%=homepagePics[i].pic%>' class='img-responsive' style='min-height: 330px; max-height:340px; max-width:540px;' align='middle'>
            </img>
          </div>
        <% } else { %>
          <div class='item'>
            <img id='img_<%=i%>' src='<%=homepagePics[i].pic%>' class='img-responsive'  style='min-height: 330px; max-height:340px; max-width:540px;' align='middle'></img></div>
        <% } %>
      <% } %>

    </div>

    <a class='left carousel-control' href='#myCarousel' role='button' data-slide='prev'>
      <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
      <span class='sr-only'>Previous</span>
    </a>
    <a class='right carousel-control' href='#myCarousel' role='button' data-slide='next'>
      <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
      <span class='sr-only'>Next</span>
    </a>
  </div> -->


  <div ng-app="homeApp" ng-controller="announcementCtrl">
    <div class="col-md-11 col-md-offset-1">
      <table class="table table-condensed table-hover " >
        <thead class="active">
          <tr>
            <th class="col-md-3" colspan=2 style="color:black">最新公告</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="todo in announcement">
            <% if(typeof todo === 'undefined' || todo === null){ %>
                <td>沒有最新公告</td>
              <% }else{ %>

                <td><b>{{ todo.createdAt.toString().substring(0, 10) }}</b></td>
                <td>
                  <a href="./article/{{ todo.id }}">{{ todo.title }}</a>
                </td>
              <% } %>


          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-11 col-md-offset-1">
      <table class="table table-condensed table-hover " >
        <thead class="active">
          <tr>
            <th class="col-md-3" colspan=2 style="color:black">熱門論壇文章</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="todo in topArticles">
            <% if(typeof todo === 'undefined' || todo === null){ %>
                <td>沒有最新文章</td>
              <% }else{ %>

                <td><b>{{ todo.createdAt.toString().substring(0, 10) }}</b></td>
                <td>
                  <a href="./article/{{ todo.id }}">{{ todo.title }}</a>
                </td>
              <% } %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>