<!DOCTYPE=html>
<style>
.nav-header{
  padding:3px 15px;
  font-weight: bold;
  color:#1D3521;
  font-size:30px;
}

.nav-list li{
  line-height: 20px;
}

.nav-list a{
  color:#1D3521;
}

.nav-list li a:hover {
  color: white; 
  background-color: #1D3521;
}
#sideBanner{
  display: none !important;
}
</style>


<div id="forumDiv" class="container-fluid">
  <h2 style="color:black;margin-left:5px;margin-top: 0px;cursor: pointer;">作夥病友論壇 </h2>
  <h3 style="color:#816C5B;margin-left:5px;">請選擇看板瀏覽！</h3>
  <div class="well col-md-2 sol-sm-12 sol-xs-12" style="margin-top:0px; padding:23px 0; background-color:white; border-radius:15px;">
    <ul class="nav nav-list" style="font-size:23px;">
      <li class="nav-header" style="margin-bottom:15px;">病友照護</li>
      <li class="active"><a href="/board-1?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">鼻咽癌</a></li>
      <li><a href="/board-2?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">鼻腔/副鼻竇癌</a></li>
      <!-- <li><a href="/board-3/1?tab=all">副鼻竇癌</a></li> -->
      <li><a href="/board-4?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">口腔癌</a></li>
      <li><a href="/board-5?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">口咽癌</a></li>
      <li><a href="/board-6?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">下咽癌</a></li>
      <li><a href="/board-7?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">喉癌</a></li>
      <li><a href="/board-8?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">唾液腺癌</a></li>
      <li><a href="/board-9?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">甲狀腺癌</a></li>
      <li><a href="/board-10?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">其它</a></li>
    </ul>
  </div>
  <div class="well col-md-2 sol-sm-12 sol-xs-12" style="margin:0px 0px 20px 0px; padding:23px 0; background-color:white; border-radius:15px;">
    <ul class="nav nav-list" style="font-size:23px;">
      <li class="nav-header" style="margin-bottom:15px;">生活機能</li>
      <li class="active"><a href="/board-11?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">食</a></li>
      <li><a href="/board-12?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">衣</a></li>
      <li><a href="/board-13?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">住</a></li>
      <li><a href="/board-14?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">行</a></li>
      <li><a href="/board-15?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">育</a></li>
      <li><a href="/board-16?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">樂</a></li>
    </ul>
  </div>
  <div class="well col-md-2 sol-sm-12 sol-xs-12" style="margin:0px 0px 20px 0px; padding:23px 0; background-color:white; border-radius:15px;">
    <ul class="nav nav-list" style="font-size:23px;">
      <li class="nav-header" style="margin-bottom:15px;">社團公告</li>
      <li class="active"><a href="/board-17?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">最新消息</a></li>
      <li><a href="/board-18?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">門診訊息</a></li>
    </ul>
  </div>
  <div class="well col-md-2 sol-sm-12 sol-xs-12" style="margin:0px 0px 0px 0px; padding:23px 0; background-color:white; border-radius:15px;">
    <ul class="nav nav-list" style="font-size:23px;">
      <li class="nav-header" style="margin-bottom:15px;">平台小幫手</li>
      <li><a href="/board-19?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">新手發問區</a></li>
      <li><a href="/board-20?tab=all&sort=lastResponseTime&order=DESC&page=1&search=">問題回報</a></li>
    </ul>
  </div>
</div>