#body{
	background-image: url(../../../images/img_home/shl.png);
}

#header{
	height: 102px;
	margin-top: 10px;
}

.title{
	margin:3px;
	font-family: "Gulim"; 
	font-size:70px;
	text-decoration:none;
}

#z{ margin-left:15px;
	color:#D26900;}
#o{ color:#816C58;}
#h{ color:#668D3C;}
#u{ color:#0097AC;}
#e{ color:#007996;}


#loginSection{
	font-size:20px;
	font-family: "微軟正黑體";
	float:right;
	margin-top:25px;
	height:50px;
	width:40%;
	color:#816C5B;
	display: ;
}

.l{
	color:#816C5B;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);]
}

#login{
	width:60px;
	margin-left:15px;
}

#login:hover{
	background-color: rgba(102, 141, 60, 0.7);
}


#hr{
	width:99%;
	border-bottom:none; 
	border-top:1px solid gray;
}

#menu{
	margin:20px;
	font-family: "微軟正黑體";
	font-size:20px;
	width: 14%;
	height: 550px;
	float:left;
	line-height:40px;
}

/*#setUp{
	display:none;
}*/

#setUpMenu{
	text-decoration:none;
	display:none;
	font-family: "微軟正黑體";
	margin-left: 25px;
	font-size: 18px;
	color:#816C5B;
}

.setUpItem{
	text-decoration:none;
	color:#816C5B;
}

.setUpItem:hover{
	color:#D26900;
}

#fullSignup {
	display: none;
	//font-size: 22px;

}

.item{
	text-decoration:none;
	color:#816C5B;
}

.item:hover{
	//color:#0097AC;
	color:#D26900;
	font-size:22px;
}


#content{
	display: block;
	margin:36px 20px 20px 5px;
	border-radius: 5px;
	float:left;
	width:54%;
	height: 550px;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
}

#postArticle{
	color:#533828;
	font-size: 22px;
	margin: 20px;
}

#postContent{
	height:500px;
	font-size: 22px;
}

#postTitle{
	font-size: 22px;
}

#submitArticle{
	float:right;
	width: 100px;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
}

#submitArticle:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
	
}

#abortArticle{
	margin-right: 10px;
	float:right;
	width: 100px;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
}

#abortArticle:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
	
}

#signup{
	margin:20px 20px 20px 5px;
	border-radius: 5px;
	width: 24%;
	height: 550px;
	float:left;
	//color:#668D3C;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
	display: block

}

#simpleSignUp{
	margin:15px;
	color:#816C5B;
	font-size:18px;
	font-weight: normal;
}

.s{
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.check{
	color:#D26900;
	font-size: 15px;
}

#submit{
	width:100px;
	float:right;
	margin-top:25px;
	color:#816C5B;
}

#submit:hover{
	background-color: rgba(102, 141, 60, 0.7);
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

