#content{
	margin: 0px 5px 20px 5px;
}
.navbar{
	margin-bottom: 0px;
}
.SearchBar{
	border-radius: 10px;
	min-height: 45px;
}
.SearchButton{
	border-radius: 10px;
	min-height: 45px;
}
.btn-group{
	border-top: 1px solid transparent;
	width: 100%;
}
.btn-top{
	margin-left: 0px !important;
	border-radius: 0px;
	background-color: #3765A3;
	color: #FFF;
	font-size: 18px;
	width: 50%;
	height: 45px;
}
.btn-top-r{
	border-left: 0.5px solid #FFF;
}
.btn-top-l{
	border-right: 0.5px solid #FFF;
}
.input-group{
	margin-bottom: 10px;
}
.not {
	/*background-color: floralwhite;*/
	background-color: #FCFCFC;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	margin-top: 5px;
	/*padding: 10px;*/
	overflow:hidden;
	font-size: 20px;
	color: black;
	padding: 2% 0;
}
.message {
	width: 70%;
	padding: 5px;
	float: left;
	word-wrap: break-word;
}
.right{
	width: 25%;
	float: left;
	margin-left: 10px;
	padding: 4% 0;
}
.author{
	word-wrap: break-word;
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
}
.image {
	margin-top: 5px;
}
#cat{
	color: #868686;
	font-size: 18px;
}
#date{
	color: #868686;
	font-size: 18px;
}

#body{
	font-family: "微軟正黑體";
}

#post{
	float:right;
}

#searchPanel{
	margin-right: 150px;
	float:right;
	width: 600px;
}
#searchWord{
	/*width:250px;
	margin: 15px -5px 0px 0px;
	background-color: white;*/
}

#search{
/*	width:90px;
	font-size: 20px;
	color:#533828;
	margin-top:15px;
	background-color: #FFCE54;*/
}
#sortAs{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	width:170px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
	margin-top: 7px;
}

#board{
	height:48px;
	color:#5A4838;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-weight:500;
	font-size: 23px;
	border-radius: 10px;
	line-height: 22px;
	width:188px;
	background-color: rgba(102, 141, 60, 0.3);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
	margin-top: 7px;
	float: right;
	margin-right: 2px;
	float: right;
	right: 0px;
	position: absolute;
}

#boardCategory{
	height:48px;
	color:#5A4838;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-weight:500;
	font-size: 23px;
	border-radius: 10px;
	line-height: 22px;
	width:253px;
	background-color: rgba(102, 141, 60, 0.3);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
	margin-top: 7px;
	float: right;
	right: 185px;
	position: absolute;
}
#page td{
	padding: 10px;
}

#page{
	float:left;
	margin: 15px 0px 0px 20px;
	font-size: 22px;
	color:#533828;

}
#pageDown{
	float:left;
	margin: 5px 0px 10px 20px;
	font-size: 22px;
	color:#533828;
}
#pageDown td{
	padding: 10px;
}
#goToBoard{
	padding-bottom: 30px; 
}
#sideBanner{
	/*display: none !important ;*/
}
#article{
	/*margin: 26px 0px 0px 15px;*/
	margin: 70px 0px 0px 15px;
}
#articleList{
	padding:10px;
	color:#533828;
	font-size: 20px;
	table-layout: fixed;
	width:100%;
	/*margin-top: 5px;*/
}
/*.body>tr:nth-child(odd) {
	background-color: #fcf8e3
}
.body>tr:nth-child(even) {
	background-color: #dff0d8
	}*/
	.body>tr {
		border-bottom: 2px solid #3765A3;
		border-left: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;
		background: #f8f8f8;
	}
	.table-hover>tbody>tr:hover{
		background-color:rgba(51,102,153,0.1);
	}
	#articleListTable tr:hover{
		background-color:rgba(51,102,153,0.1);	
	}



	#mobile_post{
		display: none !important;
	}


	#mobile_post{
		display: none !important;
	}

	#goToBoard{
		display: none;
	}

	#m_boardlist{
		display: none !important;
	}
	#m_post{
		display: none !important;
	}

	.check{
		color:#D26900;
		font-size: 15px;
	}

	#account{
		onkeyup:"(/[^-_A-Z0-9]/g,'')";
	}

	/*for tabs*/
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.abgne_tab {
		clear: left;
		width: 400px;
		margin: 10px 0;
	}
	#mobile_tabs{
		display: none;
	}
	ul.tabs {
		width: 100%;
		height: 32px;
		border-bottom: 1px solid #999;
		border-left: 1px solid #999;
	}
	ul.tabs li {
		float: left;
		height: 31px;
		line-height: 31px;
		overflow: hidden;
		position: relative;
		margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
		border: 1px solid #999;
		border-left: none;
		background: #e1e1e1;
	}
	ul.tabs li a {
		display: block;
		padding: 0 20px;
		color: #000;
		border: 1px solid #fff;
		text-decoration: none;
	}
	ul.tabs li a:hover {
		background: #ccc;
	}
	ul.tabs li.active  {
		background: #fff;
		border-bottom: 1px solid#fff;
	}
	ul.tabs li.active a:hover {
		background: #fff;
	}
	div.tab_container {
		clear: left;
		width: 100%;
		border: 1px solid #999;
		border-top: none;
		background: #fff;
	}
	div.tab_container .tab_content {
		padding: 20px;
	}
	div.tab_container .tab_content h2 {
		margin: 0 0 20px;
	}
	/*tabs end*/

	.nav-pills{
		float: left;
		margin: 0px;
	}

	.nav-pills li.active a,
	.nav-pills li.active a:hover{
		background-color: #FFCE54;
	}


	.nav-pills li.activeOrange a,
	.nav-pills li.activeOrange a:hover{
		/*background-color: #1D3521;*/
		background-color: rgba(232, 81, 0, 0.7);
		color: #fff;
	}

	.nav-pills li.nonActiveOrange a {
		color: rgba(232, 81, 0, 0.7);
		font-weight: bolder;
	}
	.nav-pills li.nonActiveOrange a:hover{
		/*background-color: #1D3521;*/
		/*background-color: rgba(232, 81, 0, 0.3);*/
		background-color: #F19766;
		font-weight: bolder;
	}

	.nav-pills li{
		font-size:22px;
	}

	.nav-pills li a{
		color:#1D3521;
		font-size: 20px;
	}
	.nav-pills li a:hover{
		background-color: #FFCE54;
		color:white;
	}

	@media all and (max-width: 768px) {
		#hoho{
			margin-top: 80px;
		}
	}

	#forumContent {
		width: 100%;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		background-color: #FFBA40;
	}