#body{
	font-family: "微軟正黑體";
}

#post{
	float:right;
	//width: 125px;
	//margin-right:13px;
	margin-top:8px;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	display: block !important;
}

#post:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
	
}

#signup{
	display: none !important;
}

#searchPanel{
	margin-right: 150px;
	float:right;
	width: 600px;
}

#searchWord{
	//width:350px;
	width:100%;
	margin: 8px 0px 0px 0px;
	display: inline !important;
}

#search{
	//width:90px;
	font-size: 20px;
	color:#533828;
	margin-top:9px;
	background-color: rgba(102, 141, 60, 0.4);
}

#search.hover{
	background-color: rgba(102, 141, 60, 0.8);
	color:#816C58;
}

#cancleSearch{
	//width:90px;
	font-size: 20px;
	color:#533828;
	margin-top:9px;
	background-color: rgba(102, 141, 60, 0.4);
}

#cancleSearch.hover{
	background-color: rgba(102, 141, 60, 0.8);
	color:#816C58;
}

#sortAs{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	width:170px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
  	margin-top: 7px;
}

#board{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 23px;
	border-radius: 10px;
	line-height: 22px;
	width:150px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
  	margin-top: 7px;
}

#boardCategory{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 23px;
	border-radius: 10px;
	line-height: 22px;
	width:150px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
  	margin-top: 7px;
}

#page{
	float:left;
	margin: 15px 0px 0px 20px;
	font-size: 22px;
	color:#533828;

}

#pageDown{
	float:left;
	margin: 5px 0px 10px 20px;
	font-size: 22px;
	color:#533828;

}

#goToBoard{
	padding-bottom: 30px; 
}

#sideBanner{
	//display: none !important ;
}

#article{
	/*margin: 26px 0px 0px 15px;*/
	margin: 70px 0px 0px 15px;
}

#articleList{
	padding:10px;
	color:#533828;
	font-size: 20px;
	table-layout: fixed;
	width:100%;
}
@media all and (max-width: 1023px) {
	#tabs{
		display: none !important;
	}
	#tabDiv{
		display: none !important;
	}
	#mobile_tabs{
		display: block !important;
		text-align: center !important ;
	}
	#searchDiv{
		display: none !important;
	}
	#post{
		display: none !important;
	}
}

@media all and (max-width: 1279px) {
	#page{
		display: none !important;
	}
	#goToBoard{
		display: none !important;
	}
	#tabDiv{
		width: 78% !important;
	}
}


	td:nth-child(1){
		width: 125px !important;
	}
	td:nth-child(2){
		width: 260px !important;
	}
	td:nth-child(3){
		width: 210px !important;
	}
	td:nth-child(4){
		width: 120px !important;
	}
	td:nth-child(5){
		width: 80px !important;
	}
	td:nth-child(6){
		width: 150px !important;
	}

/*#signup{
	margin:20px 20px 20px 5px;
	border-radius: 5px;
	width: 24%;
	height: 550px;
	float:left;
	//color:#668D3C;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
	display: block

}
*/
/*#simpleSignUp{
	margin:15px;
	color:#816C5B
	font-size:18px;
	font-weight: normal;
}*/

.s{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	//margin: 8px 3px 0px 0px;
	width:80%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.b{
	//margin: -20px 5px 10px 0px;
	margin:3px;
	//display: none;
	//float:right;
	//width: 125px;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.b:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

.check{
	color:#D26900;
	font-size: 15px;
}



#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

/*for tabs*/
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.abgne_tab {
	clear: left;
	width: 400px;
	margin: 10px 0;
}
#mobile_tabs{
	display: none;
}
ul.tabs {
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}
ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
	border: 1px solid #999;
	border-left: none;
	background: #e1e1e1;
}
ul.tabs li a {
	display: block;
	padding: 0 20px;
	color: #000;
	border: 1px solid #fff;
	text-decoration: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
ul.tabs li.active  {
	background: #fff;
	border-bottom: 1px solid#fff;
}
ul.tabs li.active a:hover {
	background: #fff;
}
div.tab_container {
	clear: left;
	width: 100%;
	border: 1px solid #999;
	border-top: none;
	background: #fff;
}
div.tab_container .tab_content {
	padding: 20px;
}
div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}
/*tabs end*/

.nav-pills li.active a,
.nav-pills li.active a:hover{
	background-color: #1D3521;
}

.nav-pills li{
	font-size:22px;
}

.nav-pills li a{
	color:#1D3521;
}
.nav-pills li a:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:white;
}

@media all and (max-width: 768px) {
	#hoho{
		margin-top: 80px;
	}
}
