.clear { /* 解決 float+height auto 問題 */
  clear:both;
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;
    height: auto;
    margin: 0 auto;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.delete {
    top:0;
    right:0;
}



#post-form-main{
	float:left;
	width:54%;
}

#content{
	display: block;
	margin:36px 20px 20px 5px;
	border-radius: 5px;
	float:left;
	width:90%;
	height: 550px;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
}

#postPanel{
	margin-top: -30px;
	margin-bottom:30px;
}

#postArticle{
	color:#533828;
	font-size: 28px;
	margin: 20px;
	font-weight: bold;
}

#articleClass{
	font-size: 22px;
	font-weight: normal;
}

.c{
	margin-left: 10px;
	width:25px; 
	height:16px;
}

#postContent{
	min-height: 500px;
	height:auto;
	font-size: 22px;
	margin-bottom:25px;
}
#postContent_image{
	display: none;
	min-height: 200px;
	height:100%;
	margin-bottom:25px;
}

#postTitle{
	font-size: 22px;
}

#signup{
	margin:20px 20px 20px 5px;
	border-radius: 5px;
	width: 24%;
	height: 550px;
	float:left;
	//color:#668D3C;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
	display: block

}

#simpleSignUp{
	margin:15px;
	color:#816C5B;
	font-size:18px;
	font-weight: normal;
}

.s{
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.b{
	margin: -20px 5px 10px 0px;
	float:right;
	width: 125px;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
.b:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}
#save{
	background-color: #ADADAD;
}


.check{
	color:#D26900;
	font-size: 15px;
}

#submit{
	width:100px;
	float:right;
	margin-top:25px;
	color:#816C5B;
}

#submit:hover{
	background-color: rgba(102, 141, 60, 0.7);
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

#savedText{
	font-size: 28px;
	color:#A7A7A7;
	display: none;
	font-weight: normal;
	float:right;
	margin: -15px 10px 10px 0px;

}

#loadedText{
	font-size: 28px;
	color:#A7A7A7;
	display: none;
	font-weight: normal;
	float:right;
	margin: -15px 10px 10px 0px;	
}

.imgupload_btn{
	margin-right: 10px;
	float:right;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
.imgupload_btn:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

#avatar-modal-label{
	font-size: 40px;
}
.avatar-upload{
	font-size: 25px;
}