
.text_box{
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 30px;
	background-color: rgba(102, 141, 60, 0.4);
	padding: 0px 8px 8px 8px;
	margin-bottom: 10px;
	width:50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}



#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

#getAnswer{
	display: none;
}

#setNewPassword{
	display:none;
}

.btn{
	cursor: pointer;
	margin-left:10px;
	background-color: rgba(232, 81, 0, 0.6);
	color:#533828;
	margin-top: 1px;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	/*padding: 8px 8px 8px 8px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}