<div id="Backendhomepage" class="mainContent collapse in">
  <div class="panel panel-default">
    <!-- Default panel contents -->                
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 text-center "></div>
        <div class="col-md-8 text-center ">
          <img class="img-responsive" src="/images/img_public/zohueLogo.png" alt="">
          <h1>作夥論壇X管理後台</h1>
        </div>
      </div>
    </div>
  </div>
</div>