<div id="forumManage" class="mainContent">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2 id="title_forumManage">論壇管理</h2></div>
    <div class="panel-body">
      <div class="row-fluid">
        <div class="span3">
          <h3>看板類型</h3>
          <select class="form-control" id="boardCategory">
            <option selected='selected'>請選擇</option>
          </select>
        </div>
        <div class="span3">
          <h3>看板名稱</h3>
          <select class="form-control" id="board">
            <option selected='selected'>請選擇</option>
          </select>
        </div>
        <div class="span6">
          <h3>文章顯示</h3>
          <div class="btn-group">
            <select class="form-control" id="artShowStatus">
              <option selected='selected' value="unDeletedArt">未被刪除的文章</option>
              <option value="deletedArt">已被刪除的文章</option>
              <option value="allArt">所有文章</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Table -->
      <table class="table table-hover" id="backend_articleList"></table>
    </div>
  </div>
</div>