<!DOCTYPE HTML>
<html>
  <head>
    <title>Join Us | ZOHUE</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="/js/js_public/jquery.min.js"></script>
    <script src="/js/js_public/jquery-1.10.2.js"></script>
    <script src="/js/js_public/jquery-ui.js"></script>
    <script src="/js/js_public/jquery.scrolly.min.js"></script>
    <script src="/js/js_public/jquery.scrollzer.min.js"></script>
    <script src="/js/js_public/bootstrap.min.js"></script>
    <script src="/js/js_public/bootbox.min.js"></script>
    <link rel="stylesheet" href="/styles/css_public/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css_public/bootstrap-responsive.css">
    <link rel="stylesheet" href="/styles/css_public/jquery-ui.css">

    <link rel="stylesheet" href="/styles/css_backend/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/js_backend/mainJS.js"></script>
    

  </head>
  <body id="body">

    <nav class="navbar navbar-default" id="backendMenu">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/Home">ZOHUE</a>
        </div>
        <div class="collapse navbar-collapse">
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
          <ul class="nav navbar-nav" id="functionList" href="#">
            <li onclick="loadUserList()" data-toggle="collapse" href="#userManage"><a>帳號管理</a></li>
            <li onclick="loadForumList()" id="forumTab" data-toggle="collapse" href="#forumManage"><a>論壇管理</a></li>
            <li onclick="loadsubscriberList()" data-toggle="collapse" href="#subscriberManage"><a>電子報管理</a></li>
            <li onclick="loadRecord()" data-toggle="collapse" href="#record"><a>查看記錄</a></li>
            <li onclick="loadProInfo()" data-toggle="collapse" href="#proInfo"><a>專業知識</a></li>
            <li onclick="loadHomepage()" data-toggle="collapse" href="#homepageManage"><a>首頁管理</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="adminLogout">管理員登出</a></li>
          </ul>

        </div>
        
      </div>
    </nav>

    <div class="container-fluid" id="backendContent">
      <div class="row-fluid">
        <div class="span12">
          <div id="backend_content">
            <div id="userManage" class="collapse mainContent">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>帳號管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3" style="margin-left:15px; padding-right:0px;">
                      <input type="text" class="form-control" id="searchUser" onkeypress="return userSearch(event);" placeholder="搜尋帳號、姓名、暱稱">
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default searchButton" onclick="loadUserList()">搜尋</button>
                      <button type="button" class="btn btn-default searchButton" onclick="cancelUserSearch()">取消</button>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table table-hover" id="backend_userList"></table>
                </div>
                
              </div>
            </div>

            <div id="forumManage" class="collapse mainContent">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2 id="title_forumManage">論壇管理</h2></div>
                <div class="panel-body">
                  <div class="row-fluid">
                    <div class="span3">
                      <h3>看板類型</h3>
                      <select class="form-control" id="boardCategory">
                        <option selected='selected'>請選擇</option>
                      </select>
                    </div>
                    <div class="span3">
                      <h3>看板名稱</h3>
                      <select class="form-control" id="board">
                        <option selected='selected'>請選擇</option>
                      </select>
                    </div>
                    <div class="span6">
                      <h3>文章顯示</h3>
                      <div class="btn-group">
                        <select class="form-control" id="artShowStatus">
                          <option selected='selected' value="unDeletedArt">未被刪除的文章</option>
                          <option value="deletedArt">已被刪除的文章</option>
                          <option value="allArt">所有文章</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table table-hover" id="backend_articleList"></table>
                </div>
              </div>
            </div>
            <div id="enlManage" class="collapse mainContent">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>電子報管理：發送電子報</h2></div>
                <div class="panel-body">

                  <div class="spinner" id="mailSpinner">
                    <label>電子報發送中，請等一下唷！</label><br>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                  <div class="row-fluid">
                    <div class="col-md-8" id="mailEdit">
                      <form >
                        <div class="form-group">
                          <label >主旨</label>
                          <input id="mailSubject" type="text" class="form-control" placeholder="主旨">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">電子報內文</label>
                          <textarea id="mailContent" class="form-control" rows="10"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-4" id="attachmentEdit"><br>
                      <label style="display:none;">已附加的檔案：</label>
                      <table class="table table-hover" id="attachmentList"></table>
                    </div>
                  </div>
                  <div class="row-fluid" id="emailButtonGroups">
                    <div class="col-md-1">            
                      <button class="btn btn-default" id="sendNewsLetter">發送電子報</button>
                    </div>
                    <div class="col-md-6" id="uploadArea">
                      <form class="uploadForm" id="uploadForm" method="post" enctype="multipart/form-data">
                        <span class="btn btn-default btn-file uploadFile">附加檔案<input type="file" name="uploadFile" /></span>
                        <span class="btn btn-default btn-file" id="upload">上傳<input type="submit" value="submit"/></span>
                      </form>
                    </div>
                    <div class="col-md-1 text-right">            
                      <button class="btn btn-default" onclick="loadsubscriberList()">取消發送</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="subscriberManage" class="collapse mainContent">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>電子報管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="searchEmail" onkeypress="return emailSearch(event);" placeholder="搜尋E-mail">
                    </div>
                    <div class="col-md-5">
                      <button type="button" class="btn btn-default searchButton" onclick="loadsubscriberList()">搜尋</button>
                      <button type="button" class="btn btn-default searchButton" onclick="cancelEmailSearch()">取消</button>
                    </div>
                    <div class="col-md-4 text-right">
                      <button id="enlSend" type="button" class="btn btn-default searchButton" data-toggle="collapse" href="#enlManage">發送電子報</button>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table table-hover" id="backend_subscriberList"></table>
                </div>
              </div>
            </div>

            <div id="record" class="collapse mainContent">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2>查看記錄</h2>

                </div>
                <div class="panel-body">
                  <div class="col-md-6">
                    <button class="btn btn-default" onclick="recordFilter('All')">全部</button>
                    <button class="btn btn-default" onclick="recordFilter('Log')">登入/登出</button>
                    <button class="btn btn-default" onclick="recordFilter('Read')">閱讀文章</button>
                    <button class="btn btn-default" onclick="recordFilter('ProInfo')">專業知識</button>
                    <button class="btn btn-default" onclick="recordFilter('Profile')">個人頁面</button>
                    <button class="btn btn-default" onclick="recordFilter('Post')">發表文章</button>
                  </div>
                  <div class="col-md-offset-5 col-md-1">
                    <button class="btn btn-default" onclick="recordDownload()">下載紀錄</button>
                  </div>
                  <table class="table table-hover" id="record_table">
                    <tr class='tableHead'>,<th>帳號</th><th>IP</th><th>時間</th><th>動作</th></tr>
                  </table>
                </div>
              </div>
            </div>

            <div id="proInfo" class="collapse mainContent">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2>專業知識 - 新增</h2>
                </div>
                <div class="panel-body">   
                  <div class="col-md-3">
                    <label for="proInfoType">類型</label>
                    <select id="proInfoType" class="form-control">
                      <option value="概論">概論</option>
                      <option value="預防">預防</option>
                      <option value="手術">手術</option>
                      <option value="療法">療法</option>
                      <option value="治療">治療</option>
                      <option value="篩檢">篩檢</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="proInfoCancer">癌症別</label>
                    <select id="proInfoCancer" class="form-control">
                      <option value="總論">總論</option>
                      <option value="鼻咽癌">鼻咽癌</option>
                      <option value="鼻腔/副鼻竇癌">鼻腔/副鼻竇癌</option>
                      <option value="口腔癌">口腔癌</option>
                      <option value="口咽癌">口咽癌</option>
                      <option value="下咽癌">下咽癌</option>
                      <option value="喉癌">喉癌</option>
                      <option value="唾液腺癌">唾液腺癌</option>
                      <option value="甲狀腺癌">甲狀腺癌</option>
                    </select>
                  </div>
                  <div class="col-md-offset-2 col-md-2">
                    <label for="proInfoYear">發表年份(民國)</label>
                    <select id="proInfoYear" class="form-control">
                      <option value="88">88</option>
                      <option value="89">89</option>
                      <option value="90">90</option>
                      <option value="91">91</option>
                      <option value="92">92</option>
                      <option value="93">93</option>
                      <option value="94">94</option>
                      <option value="95">95</option>
                      <option value="96">96</option>
                      <option value="97">97</option>
                      <option value="98">98</option>
                      <option value="99">99</option>
                      <option value="100">100</option>
                      <option value="101">101</option>
                      <option value="102">102</option>
                      <option value="103">103</option>
                      <option value="104">104</option>
                      <option value="105">105</option>

                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="proInfoMonth">月份</label>
                    <select id="proInfoMonth" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="proInfoTitle">標題</label>
                    <input type="text" id="proInfoTitle" class="form-control">
                  </div>
                  <div class="col-md-2 col-md-offset-2">
                    <label for="proInfoName">作者名</label>
                    <input type="text" id="proInfoName" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <label for="proInfoName2">稱謂</label>
                    <select id="proInfoName2" class="form-control">
                      <option value="醫師">醫師</option>
                      <option value="社工師">社工師</option>
                      <option value="護理師">護理師</option>
                      <option value="個案管理師">個案管理師</option>
                      <option value=" ">--</option>
                    </select>
                  </div>
                  
                  <div class="col-md-6">
                    <label for="link">內容連結</label>
                    <input type="text" id="link" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <label for="proInfoFrom">出處</label>
                    <input type="text" id="proInfoFrom" class="form-control">
                  </div>

                  <div class="col-md-offset-11">
                    <button class="btn btn-default" onclick="proInfoSubmit()">送出</button>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2>修改 / 刪除</h2>
                </div>
                <div class="panel-body">
                  <div class="col-md-11">
                    <select id="delProInfo" class="form-control"></select>
                  </div>
                  <button class="btn btn-default" onclick="delProInfo()">刪除</button>
                  <div id="edit_proInfo">
                    <div class="col-md-3">
                      <label for="proInfoType_change">類型</label>
                      <input id="proInfoType_change" class="form-control">
                    </div>
                    <div class="col-md-3">
                      <label for="proInfoCancer_change">癌症別</label>
                      <input id="proInfoCancer_change" class="form-control">
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                      <label for="proInfotime_change">發表時間</label>
                      <input type="text" class="form-control" id="proInfotime_change">
                    </div>
                    <div class="col-md-6">
                      <label for="proInfoTitle_change">標題</label>
                      <input type="text" id="proInfoTitle_change" class="form-control">
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                      <label for="proInfoAuthor_change">作者</label>
                      <input type="text" id="proInfoAuthor_change" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="link_change">內容連結</label>
                      <input type="text" id="link_change" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="proInfoFrom_change">出處</label>
                      <input type="text" id="proInfoFrom_change" class="form-control">
                    </div>
                    <div class="col-md-offset-11">
                      <button class="btn btn-default" onclick="proInfoChange()">修改</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div id="homepageManage" class="collapse mainContent">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>首頁管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2 text-center">
                      <h3>首頁宣傳圖片</h3>
                    </div> 
                    <div class="col-md-8">
                      <form name="myForm" action="/imgupload_homepagePic" method="post" enctype="multipart/form-data">
                        

                        <button type="button"  class="btn btn-default searchButton" id="yourBtn" onclick="getFile()">新增圖片</button>
                        
                        <input id="pic_avatar" type="file" value="upload" accept="image/x-png, image/gif, image/jpeg, image/jpg" name="avatar" style="display: none" onchange="getFilename(this)"/>
                        
                        <label >新圖片標題</label>
                        <input class="btn btn-default searchButton" type="text" id="pic_title" name="title">

                        <button type="button"  class="btn btn-default searchButton" id="yourBtn" onclick="PicSubmit()">送出</button>
                      </form>
                    </div>
                  </div>

                  <!-- Table -->
                  <table class="table table-hover" id="backend_homepagePicList"></table>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2>熱門文章公式</h2>
                </div>
                <div class="panel-body">
                  <div class="col-md-4">
                    <label>推薦次數</label>
                    <input type="text" class="form-control" id="nicerNumWeight" placeholder="推薦次數">
                  </div>
                  <div class="col-md-4">
                    <label for="responseNumWeight">回應次數</label>
                    <input type="text" class="form-control" id="responseNumWeight" placeholder="推薦次數">
                  </div>
                  <div class="col-md-4">
                    <label for="clickNumWeight">點閱次數</label>
                    <input type="text" class="form-control" id="clickNumWeight" placeholder="推薦次數">
                  </div>

                  <div class="col-md-12" style="margin-top:5px;">
                    <button class="btn btn-default pull-right" onclick="editTopArticleFormula()">送出</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="Backendhomepage" class="mainContent collapse in">
              <div class="panel panel-default">
                <!-- Default panel contents -->                
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2 text-center "></div>
                    <div class="col-md-8 text-center ">
                      <img class="img-responsive" src="/images/img_public/zohueLogo.png" alt="">
                      <h1>作夥論壇X管理後台</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>