<!DOCTYPE HTML>
<html>
  <head>
    <title>Join Us | ZOHUE</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="/js/js_public/jquery.min.js"></script>
    <script src="/js/js_public/jquery-1.10.2.js"></script>
    <script src="/js/js_public/jquery-ui.js"></script>
    <script src="/js/js_public/jquery.scrolly.min.js"></script>
    <script src="/js/js_public/jquery.scrollzer.min.js"></script>
    <script src="/js/js_public/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/css_public/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css_public/bootstrap-responsive.css">
    <link rel="stylesheet" href="/styles/css_public/jquery-ui.css">

    <link rel="stylesheet" href="/styles/css_backend/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/js_backend/mainJS.js"></script>
  </head>
  <body id="body">
    <div class="container-fluid">
      <h1 style="color:#D26900;">後台管理</h1>
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-pills">
            <li onclick="loadUserList()"><a>帳號管理</a></li>
            <!-- <li onclick="getart(loadForumList)"><a>論壇管理</a></li> -->
            <li onclick="loadForumList()" id="forumTab"><a>論壇管理</a></li>
            <li onclick="loadEnlManage()"><a>發送電子報</a></li>
            <li onclick="loadsubscriberList()"><a>訂閱管理</a></li>
          </ul>
          <div id="backend_content">
            <div id="userManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>帳號管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3" style="margin-left:15px; padding-right:0px;">
                      <input type="text" class="form-control" id="searchUser" onkeypress="return userSearch(event);" placeholder="搜尋帳號、姓名、暱稱">
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default searchButton" onclick="loadUserList()">搜尋</button>
                      <button type="button" class="btn btn-default searchButton" onclick="cancelUserSearch()">取消</button>
                    </div>
                  </div>
                  
                  <!-- Table -->
                  <table class="table" id="backend_userList"></table>
                </div>
                
              </div>
            </div>

            <div id="forumManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2 id="title_forumManage">論壇管理</h2></div>
                <div class="panel-body">
                  <div class="row-fluid">
                    <div class="span3">
                      <h3>看板類型</h3>
                      <select class="form-control" id="boardCategory">
                        <option selected='selected'>請選擇</option>
                      </select>
                    </div>
                    <div class="span3">
                      <h3>看板名稱</h3>
                      <select class="form-control" id="board">
                        <option selected='selected'>請選擇</option>
                      </select>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table" id="backend_articleList"></table>
                </div>
              </div>
            </div>
            <div id="enlManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>發送電子報</h2></div>
                <div class="panel-body">

                  <div class="spinner" id="mailSpinner">
                    <label>電子報發送中，請等一下唷！</label><br>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                  <div class="row-fluid">
                    <div class="col-md-8" id="mailEdit">
                      <form >
                        <div class="form-group">
                          <label >主旨</label>
                          <input id="mailSubject" type="text" class="form-control" placeholder="主旨">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">電子報內文</label>
                          <textarea id="mailContent" class="form-control" rows="10"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-4" id="attachmentEdit"><br>
                      <label style="display:none;">已附加的檔案：</label>
                      <table class="table" id="attachmentList"></table>
                    </div>
                  </div>
                  <div class="row-fluid" id="emailButtonGroups">
                    <div class="col-md-1">                    
                      <button class="btn btn-default" id="sendNewsLetter">發送電子報</button>
                    </div>
                    <div class="col-md-11" id="uploadArea">
                      <form class="uploadForm" id="uploadForm" method="post" enctype="multipart/form-data">
                        <span class="btn btn-default btn-file uploadFile">附加檔案<input type="file" name="uploadFile" /></span>
                        <span class="btn btn-default btn-file" id="upload">上傳<input type="submit" value="submit"/></span>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="subscriberManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>訂閱管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3" style="margin-left:15px; padding-right:0px;">
                      <input type="text" class="form-control" id="searchEmail" onkeypress="return emailSearch(event);" placeholder="搜尋E-mail">
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default searchButton" onclick="loadsubscriberList()">搜尋</button>
                      <button type="button" class="btn btn-default searchButton" onclick="cancelEmailSearch()">取消</button>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table" id="backend_subscriberList"></table>
                </div>
                
              </div>
            </div>


          </div>


        </div>


      </div>
     
    </div>
  </body>
</html>