<!DOCTYPE HTML>
<html>
  <head>
    <title>Join Us | ZOHUE</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_backend/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/js_backend/mainJS.js"></script>
  </head>
  <body id="body">
    <div class="container-fluid">
      <h1 style="color:#D26900;">後台管理</h1>
      <div class="row-fluid">
        <div class="span10">
          <ul class="nav nav-pills">
            <li onclick="loadUserList()"><a>帳號管理</a></li>
            <li onclick="loadForumList()"><a>論壇管理</a></li>
            <li onclick="loadEnlManage()"><a>發送電子報</a></li>
          </ul>
          <div id="backend_content">
            <div id="userManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>帳號管理</h2></div>
                <div class="panel-body">
                  <p>帳號管理帳號管理帳號管理帳號管理帳號管理帳號管理帳號管理帳號管理</p>
                </div>

                <!-- Table -->
                <table class="table" id="backend_userList">
                  <tr>
                    <td>1</td>
                    <td>Ruki</td>
                    <td>M</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Nana</td>
                    <td>F</td>
                  </tr>
                </table>
              </div>
            </div>

            <div id="forumManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>論壇管理</h2></div>
                <div class="panel-body">
                  <div class="row-fluid">
                    <div class="span3">
                      <h3>看板類型</h3>
                      <select class="form-control">
                        <option>病友照護</option>
                        <option>生活機能</option>
                      </select>
                    </div>
                    <div class="span3">
                      <h3>看板名稱</h3>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table" id="backend_articleList">
                    <tr>
                      <th>文章類別</th>
                      <th>文章標題</th>
                      <th>發表人</th>
                      <th>身分別</th>
                      <th>發表時間</th>
                      <th>檢舉次數</th>
                    <tr>
                      
                  </table>


                </div>
              </div>
            </div>
            <div id="enlManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>發送電子報</h2></div>
                <div class="panel-body">
                  <div class="col-md-7">
                    <form >
                      <div class="form-group">
                        <label for="exampleInputEmail1">主旨</label>
                        <input id="mailSubject" type="text" class="form-control" placeholder="主旨">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">電子報內文</label>
                        <textarea id="mailContent" class="form-control" rows="10"></textarea>
                      </div>
                      <!-- <button class="btn btn-default" id="haha">上傳圖片</button> -->
                    </form>
                    <button class="btn btn-default" onclick="sendNewsLetter()">發送電子報</button>
                  </div>
                </div>
              </div>
            </div>


          </div>


        </div>


      </div>
     
    </div>
  </body>
</html>