<!DOCTYPE HTML>
<html>
  <head>
    <title>Join Us | ZOHUE</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_backend/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/js_backend/mainJS.js"></script>
  </head>
  <body id="body">
    <div class="container-fluid">
      <h1 style="color:#D26900;">後台管理</h1>
      <div class="row-fluid">
        <div class="span10">
          <ul class="nav nav-pills">
            <li onclick="loadUserList()"><a>帳號管理</a></li>
            <!-- <li onclick="getart(loadForumList)"><a>論壇管理</a></li> -->
            <li onclick="loadForumList()"><a>論壇管理</a></li>
            <li onclick="loadEnlManage()"><a>發送電子報</a></li>
            <li onclick="loadsubscriberList()"><a>訂閱管理</a></li>
          </ul>
          <div id="backend_content">
            <div id="userManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>帳號管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2" style="margin-left:15px; padding-right:0px;">
                      <input type="text" class="form-control" id="searchUser" onkeypress="return userSearch(event);" placeholder="搜尋帳號、姓名、暱稱">
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default searchButton" onclick="loadUserList()">搜尋</button>
                      <button type="button" class="btn btn-default searchButton" onclick="cancelUserSearch()">取消</button>
                    </div>
                  </div>
                  
                  <!-- Table -->
                  <table class="table" id="backend_userList"></table>
                </div>
                
              </div>
            </div>

            <div id="forumManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2 id="title_forumManage">論壇管理</h2></div>
                <div class="panel-body">
                  <div class="row-fluid">
                    <div class="span3">
                      <h3>看板類型</h3>
                      <select class="form-control" id="boardCategory">
                        <option selected='selected'>請選擇</option>
                      </select>
                    </div>
                    <div class="span3">
                      <h3>看板名稱</h3>
                      <select class="form-control" id="board">
                        <option selected='selected'>請選擇</option>
                      </select>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table" id="backend_articleList"></table>
                </div>
              </div>
            </div>
            <div id="enlManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>發送電子報</h2></div>
                <div class="panel-body">

                  <div class="spinner" id="mailSpinner">
                    <label>電子報發送中，請等一下唷！</label><br>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                  
                  <div class="col-md-7" id="mailEdit">
                    <form >
                      <div class="form-group">
                        <label for="exampleInputEmail1">主旨</label>
                        <input id="mailSubject" type="text" class="form-control" placeholder="主旨">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">電子報內文</label>
                        <textarea id="mailContent" class="form-control" rows="10"></textarea>
                      </div>
                      <!-- <button class="btn btn-default" id="haha">上傳圖片</button> -->
                    </form>
                    <button class="btn btn-default" id="sendNewsLetter">發送電子報</button>
                    <!-- <button class="btn btn-default" onclick="attachedFile()">附加檔案</button> -->
                    <span class="btn btn-default btn-file">附加檔案<input type="file"></span>
                  </div>
                </div>
              </div>
            </div>
            <div id="subscriberManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>訂閱管理</h2></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2" style="margin-left:15px; padding-right:0px;">
                      <input type="text" class="form-control" id="searchEmail" onkeypress="return emailSearch(event);" placeholder="搜尋E-mail">
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default searchButton" onclick="loadsubscriberList()">搜尋</button>
                      <button type="button" class="btn btn-default searchButton" onclick="cancelEmailSearch()">取消</button>
                    </div>
                  </div>
                  <!-- Table -->
                  <table class="table" id="backend_subscriberList"></table>
                </div>
                
              </div>
            </div>


          </div>


        </div>


      </div>
     
    </div>
  </body>
</html>