<!DOCTYPE HTML>
<html>
  <head>
    <title>Join Us | ZOHUE</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_backend/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/js_backend/mainJS.js"></script>
  </head>
  <body id="body">
    <div class="container-fluid">
      <h1 style="color:#D26900;">後台管理</h1>
      <div class="row-fluid">
        <div class="span10">
          <ul class="nav nav-pills">
            <li onclick="loadUserList()"><a>帳號管理</a></li>
            <li onclick="loadForumList()"><a>論壇管理</a></li>
          </ul>
          <div id="backend_content">
            <div id="userManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>帳號管理</h2></div>
                <div class="panel-body">
                  <p>帳號管理帳號管理帳號管理帳號管理帳號管理帳號管理帳號管理帳號管理</p>
                </div>

                <!-- Table -->
                <table class="table">
                  <tr>
                    <td>1</td>
                    <td>Ruki</td>
                    <td>M</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Nana</td>
                    <td>F</td>
                  </tr>
                </table>
              </div>
            </div>

            <div id="forumManage">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h2>論壇管理</h2></div>
                <div class="panel-body">
                  <div class="row-fluid">
                    <div class="span3">
                      <h3>看板類型</h3>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="span3">
                      <h3>看板名稱</h3>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

          </div>


        </div>


      </div>
     
    </div>
  </body>
</html>