<div id="record" class=" mainContent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>查看記錄</h2>

    </div>
    <div class="panel-body">
      <div class="col-md-7" style="margin-bottom:10px;">
        <button class="btn btn-default" onclick="loadRecord(1)" id="record_1">最近三天</button>
        <button class="btn btn-default" onclick="loadRecord(2)" id="record_2">最近一個月</button>
        <button class="btn btn-default" onclick="loadRecord(0)" id="record_0">全部</button>
      </div>

      <div class=" col-md-8" style="margin-bottom:10px;">
        
        <button class="btn btn-default" onclick="recordFilter('Log')">登入/登出</button>
        <button class="btn btn-default" onclick="recordFilter('Read')">閱讀文章</button>
        <button class="btn btn-default" onclick="recordFilter('ProInfo')">專業知識</button>
        <button class="btn btn-default" onclick="recordFilter('Profile')">個人頁面</button>
         <button class="btn btn-default" onclick="recordFilter('Link')">友站連結</button>
        <button class="btn btn-default" onclick="recordFilter('Post')">發表文章</button>
        <button class="btn btn-default" onclick="recordFilter('Friend')">使用者互動</button>
        <button class="btn btn-default" onclick="recordFilter('All')">全部</button>
      </div>
      <div class="col-md-offset-3 col-md-1" style="margin-bottom:10px;">
        <button class="btn btn-default" onclick="recordDownload()">下載全部紀錄</button>
      </div>
      <table class="table table-hover" id="record_table">
        <tr class='tableHead'>,<th>帳號</th><th>IP</th><th>時間</th><th>動作</th></tr>
      </table>
    </div>
  </div>
</div>