#body{
	font-family: "微軟正黑體";
}

embed {
	height: 1000px;
}

#reasonInput{
	margin-left:10px; 
	border-radius: 10px;
	box-shadow: none;
	border: 1px solid;
}

#reportForm > label{
	font-size: 18px;
}

.clear { /* 解決 float+height auto 問題 */
  clear:both;
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;
    height: auto;
    margin: 0 auto;
    max-width: 50%;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.delete {
    top:0;
    right:0;
}

.show-image img{
	outline: 1px solid rgb(180, 195, 163);
	width: 100%;
}
.show-image a{
	float: left;
	margin: 10px;
}

#backToList,#shareFB{
	width: 170px;
	/*height:48px;*/
}

#FB{
	opacity:0.8;
}

#editArticle, #deleteArticle, #commentSend, #addImage{
	width: 130px;
	/*height:48px;*/
}

#article{
	border: solid 1px #cccccc;
	background-color: rgba(255, 250, 240, 1); 
	/*floralwhite*/
	border-width:1px;
	border-radius: 10px;
	width: 100%;
	margin-top:-20px;
}

#articleAvatar_type img, #articleAvatar img{
	padding:5px 0px 0px 8px; 
	display: inline-block; 
	height:70px;
}

@media all and (max-width: 768px) {
	#article{
		width:99%;
	}
}

#articleTitle{
	padding:15px 0px 5px 20px;
	color:#533828;
	font-size: 30px;
	font-weight: bold;

	word-break:break-all;
}

#articleData{
	color:#533828;
	font-size: 20px;
}

#articleContent{
	padding:20px;
	color:#533828;
	font-size: 20px;
	border: solid 1px #cccccc;
	word-break:break-all;
}

#niceArticle, #report{
	padding:0px 10px 0px 10px;
	align: right;
	color:#533828;
	font-size: 27px;
}

#commentDiv{
	margin: 30px 0px 0px 15px;
	font-size: 22px;
	color:#533828;
	width: 95%;
}

#comment{
	min-height: 90px;
	height: auto;
}
#comment_image{
	display: none;
	height:100%;
	margin-bottom:25px;
	float: left; /*把float設為left，且不要限制min-height，即可自動調整height*/
}

#commentSend{
	float:right;
	/*width: 100px;*/
	/*margin: -8px 0px 10px 0px;*/
	background-color: #FFCE54;
	color:#533828;
}

#commentSend:hover{
	background-color: #FFCE54;
	color:#816C58;	
}

#commentListDiv{
	border: solid #cccccc;
	border-width: 0px 1px 1px 1px;
	padding:20px 20px 0px 20px;
	background-color: rgba(255, 250, 240, 1);
	font-size: 20px;
}

#commentList label{
	font-weight:400;
}

.comment_avatar_type img{
	height:60px;
	padding-right:5px;
}

.comment_avatar img{
	height:60px;
	width:60px;
}

#comment_createdAt label{
	color:black;
}

#comment_content a{
	font-weight:bold; 
	color:#336699;
}

#comment_createdAt, #comment_content{
	padding-left:10px;
}

.comment_content{
	word-break: break-all;
	width: 100%;
	word-wrap: break-word;
}

.comment_row{
	padding:3px 0px 30px 10px;
}

#post-form-main{
	width: auto;
	max-width: 70%;
}


@media all and (max-width: 800px){
	#post-form-main{
		width: 100% !important;
		max-width: 100% !important;
	}
}

#signup{
	display: none !important;
}

#backToList{
	float:left;
}

#simpleSignUp{
	margin:15px;
	color:#816C5B;
	font-size:18px;
	font-weight: normal;
}

.s{
	height:48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	/*background-color: rgba(195, 183, 172, 0.5);*/
	background-color: white;
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid #FFCE54;
}

#commentSend, #image{
	float:right;
	margin-bottom:10px;
}

.b{
	/*margin: -20px 5px 10px 0px;*/
	margin:3px;
	/*display: none;*/
	/*float:right;*/
	width: 125px;
	background-color: #FFCE54;
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	/*border: 1px solid #CCCCCC;*/
}

.b:hover{
	background-color: #FFCE54;
	color:#533828;
}

.check{
	color:#D26900;
	font-size: 15px;
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

#niceArticle button, #report button, .n{
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0);
	background-color: rgba(255,206,84,1);
	padding: 4px 8px 4px 8px;
	font-size:20px;
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	margin-bottom: 5px;
	vertical-align: center;
}

#niceArticle button:hover, #report button:hover, .n:hover{
	background-color: rgba(255,206,84,1);
	border: 1px solid rgba(102, 141, 60, 0.4);
	color:#816C58;
	vertical-align: center;
}

#niceArticle img, #report img{
	width:24px; 
	height:24px;
}

#niceCount, #reportCount{
	color:#533828; 
	font-size:20px;
}


.imgupload_btn{
	margin-right: 10px;
	float:right;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
.imgupload_btn:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

#avatar-modal-label{
	font-size: 40px;
}
.avatar-upload{
	font-size: 25px;
}

.modalBox{
	padding:5px;
	border:1px solid #CCC;
	background:#FFF;
	height:90%;
	width:50%;
	display:none;
	margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto;
	overflow:auto;
	border-radius: 10px;
}
img.iw-closeImg{
	width:24px;
	height:24px;
}
.modalFooter{
	color:#FFF;
	position:absolute;
	bottom:0px;
}
.modalFooter span{
	cursor:pointer;
}
.iw-modalOverlay{
	background:#000;
	opacity:.5;
}
.modalBox img{
	height:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}






/*Loading animation*/
.spinner {
  display: none;
  margin: 5% auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.avatar-input {
  color: transparent;
}
.avatar-input::-webkit-file-upload-button {
  visibility: hidden;
}
.avatar-input::before {
  content: '選擇檔案';
  display: inline-block;
  cursor: pointer;
  background-color: rgba(232, 81, 0, 0.7);
  color:#533828;
  font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  font-weight:500;
  font-size: 20px;
  border-radius: 10px;
  margin:3px;
  padding: 8px 8px 8px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0);
}
.avatar-input:hover::before {
  background-color: rgba(102, 141, 60, 0.4);
  color:#816C58;
}