<!DOCTYPE HTML>
<html>
	<head>
		<title>Join Us | ZOHUE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="/styles/css_board/style.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/js_board/mainJS.js"></script>
	</head>
	<body id="body">

    <div class="container-fluid">
    <h1 id="title" style="color:#D26900;"></h1>
    <div><div style="display: inline;font-size: 150%; margin-right: 10px">看板跳轉</div>
    <select id="boardCategory">
    </select>
    <select id="board">
    </select>
    </div>
    <div class="row-fluid">
      <div class="span10" id="forumContent">
      <div class="row-fluid">
        <div class="span2">
          <table id="page" cellspacing=8></table>
        </div>
        <div class="span10">
          <div class="row-fluid">
            <div class="span4 text-right">
              <input type="text" onkeypress="return enterSearch(event);" class="s" id="searchWord">
            </div>
            <div class="span3 text-left">
              <button value="搜尋" id="search" class="b" onclick="searchArticle();"><img src="/images/img_forum/search_icon.png"/>搜尋</button>
              <button value="取消" id="cancleSearch" class="b" onclick="cancleSearch();"><img src="/images/img_forum/cancel_icon.png"/>取消</button>
            </div>
<!--             <div class="span3 text-left">
              
            </div> -->
            <div class="span5 text-left">
              <label style="font-size: 22px; color:#533828;">排序：</label>
              <select id="sortAs" onchange="setPage(page, keyword, this.options[this.selectedIndex].value)">
                <option value="0">最新回應時間</option>
                <option value="1">發表時間</option>
              </select>
              <button value="發表文章" id="post" class="b" onclick="postArticle();">
                <img src="/images/img_forum/post_icon.png"/>發表文章
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div id="hoho" class="span12">
         <!-- <ul class="tabs"> -->
         <ul class="nav nav-pills" id="tabs">
            <li id="all"><a href="?tab=all">所有分類</a></li>
            <li id="motion"><a href="?tab=motion">心情</a></li>
            <li id="share"><a href="?tab=share">分享</a></li>
            <li id="problem"><a href="?tab=problem">問題</a></li>
            <li id="others"><a href="?tab=others">其它</a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid" style="margin-top:10px;">
        <div class="span12">
          <table id="articleList"></table>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <table id="pageDown" cellspacing=8></table>
        </div>
      </div> 
    </div>
    </div>
    </div>


  </body>
</html>