.input_title{
	margin-left: 5px;
	font-weight: bold;
	font-size: 20px;
}

#email-tooltip,#email_ez-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#alias-tooltip,#alias_ez-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#type-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#fname-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#lname-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#account-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#repassword-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#password-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#forgetA-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#forgetQ-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#gender-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#phone-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#postalCode-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#addressCity-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#addressDistrict-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#address-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#birthday_Y-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#birthday_M-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#birthday_D-tooltip{margin-right: 0px; margin-top: -20px; display: none;}
#selfIntroduction-tooltip{margin-right: 0px; margin-top: -20px; display: none;}

#form-main,#form-main_ez{
	margin:45px 0px 20px 0px;
	width:57%;
	float:left;
	padding-top:0px;
	//background-color:rgba(102, 141, 60, 0.4);
	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
  	font-family: "微軟正黑體";
	font-size:30px;
}

#contentTitle{
	color:#D26900;
	font-size: 35px;
	font-weight: normal;
}


#form-div {
	//background-color:rgba(72,72,72,0.4);
	background-color:rgba(102, 141, 60, 0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 100%;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
  	//margin: 0px auto;
  	margin-left:20px;
  	margin-top:15px;
}

#fname-div{
	width:48%;
	float:left;
}
#lname-div{
	width:48%;
	float:left;
	margin-left: 4%;
	margin-bottom: 10px;
}

#birthday_Y-div{
	width:32%;
	float:left;
}
#birthday_M-div{
	width:30%;
	float:left;
	margin-left: 4%;
}
#birthday_D-div{
	width:30%;
	float:left;
	margin-left: 4%;
	margin-bottom: 10px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
}

/* Icons ---------------------------------- */
#email,#email_ez{
	background-image: url(../../../images/img_signup/email.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#fname, #lname{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 10px ,right;
	background-repeat: no-repeat;
}
#alias,#alias_ez{
	background-image: url(../../../images/img_signup/alias.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#forgetQ, #forgetQ-other{
	background-image: url(../../../images/img_signup/forgetQ.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#forgetQ-other{
	display: none;
}
#forgetA{
	background-image: url(../../../images/img_signup/forgetA.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#gender{
	background-image: url(../../../images/img_signup/gender.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#phone{
	background-image: url(../../../images/img_signup/phone.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#postalCode{
	background-image: url(../../../images/img_signup/postalCode.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#addressCity{
	background-image: url(../../../images/img_signup/addressCity.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#addressDistrict{
	background-image: url(../../../images/img_signup/addressDistrict.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#address{
	background-image: url(../../../images/img_signup/address.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#birthday_Y,#birthday_M,#birthday_D{
	background-image: url(../../../images/img_signup/birthday.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
}
#type{
	background-image: url(../../../images/img_signup/selfIntroduction.png);
	background-size: 30px 30px;
	background-position: 10px 8px,right;
	background-repeat: no-repeat;
}
#image{
	background-image: url(../../../images/img_signup/image.png);
	background-size: 30px 30px;
	background-position: 10px,right;
	background-repeat: no-repeat;
	text-align: left;
}
#selfIntroduction{
	background-image: url(../../../images/img_signup/selfIntroduction.png);
	background-size: 30px 30px;
	background-position: 10px 8px,right;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:#DDDDDD;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	border-radius: 5px;
	cursor:pointer;
	//background-color: #3498db;
	background-color: rgba(232, 81, 0, 0.7);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top:-4px;
  	font-weight:700;
}
#button-blue:hover{
	//background-color: #5599FF;
	background-color: rgba(232, 81, 0, 0.7);
	//color: #0493bd;
}
.submit:hover {
	color: #3498db;
}
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
.submit:hover .ease{
  width:100%;
  background-color:white;
}

.imgupload_btn{
	margin-right: 10px;
	float:right;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
.imgupload_btn:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

#avatar-modal-label{
	font-size: 40px;
}
.avatar-upload{
	font-size: 25px;
}



/*@media all and (min-width: 768px){
    body{
      font-size:16px;
    }
    #top{
		width:100%;
		height: 100px;
		//background-color:darkslategray;
	}
	#homepage1{
		text-decoration:none;
		font-family: Comic Sans MS;
		font-weight: 900;
		margin-left: 50px;
		color:white;
		font-size: 50px;
		display: block;
		width:100%;
	}
	#forget{
		margin-right:35%;
		float:right;
		color:white;
	}
	ul{
		display:none;
	}
}
@media all and (max-width: 768px) {
	#form-div{
		left: 3%;
		right: 3%;
		width: 88%;
		padding-left: 3%;
		padding-right: 3%;
	}
	#ltitle{
		width:auto;
		float:none;
		height: 100%;
	}
	#homepage1{
		text-decoration:none;
		font-family: Comic Sans MS;
		font-weight: 900;
		color:white;
		font-size: 50px;
		display: block;
		width:100%;
		font-size:30px;
    	text-align: center;
	}
    #top{
		width:100%;
		height: 50px;
		//background-color:darkslategray;
	}
	#rtitle{
		display: none;
	}
	ul{
		//background-color:darkslategray;
		list-style:none;margin:0px;
		margin:0; padding:0; 
	}
	.login_list {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
  		font-weight:50;
		font-size: 18px;
		border-radius: 5px;
		line-height: 25px;
		background-color: #fbfbfb;
		padding: 5px 0px 0px 15px;
		margin-top: 7px;
		margin-bottom: 7px;
		width:80%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
  		border: 1px solid black;
  		margin-left: 10%;
	}
	.avatar-view{
		height: 100px;
		width: 100px;
	}
	#forget{
		margin-right:10%;
		float:right;
		color:white;
	}
	.feedback-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
  		font-weight:500;
		font-size: 15px;
		border-radius: 5px;
		line-height: 15px;
		padding: 10px 10px 10px 54px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
  		border: 1px solid rgba(0,0,0,0);
	}
}
@media all and (min-width: 320px) and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}
*/