#body{
	font-family: "微軟正黑體";
}

.clear { /* 解決 float+height auto 問題 */
  clear:both;
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;
    height: auto;
    margin: 10 auto;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.delete {
    top:0;
    right:0;
}



#body{
	/*background-image: url(../../../images/img_home/shl.png);*/
}



/*.l{
	color:#816C5B;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);]
}*/



/*#menu{
	margin:20px;
	font-family: "微軟正黑體";
	font-size:20px;
	width: 14%;
	height: 550px;
	float:left;
	line-height:40px;
}*/

/*#setUp{
	display:none;
}*/


#post-form-main{
/*	float:left;
	width:54%;*/
}

#content{
	display: block;
	margin:36px 20px 20px 5px;
	border-radius: 5px;
	float:left;
	width:90%;
	height: 550px;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
}

#editPanel{
	/*margin-top: -25px;*/
	margin-bottom:20px;
}

#postArticle{
	color:#533828;
	font-size: 28px;
	margin: 20px;
	font-weight: bold;
}

.c{
	margin-left: 10px;
	width:25px; 
	height:16px;
}

#postContent{
	min-height: 300px;
	height:auto;
	font-size: 18px;
	margin-top: -12px;
	margin-bottom:25px;
}
#postContent_image{
	min-height: 200px;
	height:auto;
	margin-bottom:25px;
}

#postTitle{
	font-size: 18px;
}

#signup{
	margin:20px 20px 20px 5px;
	border-radius: 5px;
	width: 24%;
	height: 550px;
	float:left;
	/*color:#668D3C;*/
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
	display: block

}

#simpleSignUp{
	margin:15px;
	color:#816C5B;
	font-size:18px;
	font-weight: normal;
}

.s{
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	/*background-color: rgba(195, 183, 172, 0.5);*/
	background-color: white;
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

#submitArticle, #abortArticle{
	margin: -20px 5px 10px 0px;
	float:right;
}

.b{
	margin:4px;
	background-color: #FFCE54;
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 16px;
	border-radius: 10px;
	/*line-height: 22px;*/
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
.b:hover{
	background-color: #FFCE54;
	/*color:#816C58;*/
}

.check{
	color:#D26900;
	font-size: 15px;
}

#submit{
	width:100px;
	float:right;
	margin-top:25px;
	color:#816C5B;
}

#submit:hover{
	background-color: #FFCE54;
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

#savedText{
	font-size: 18px;
	color:#A7A7A7;
	display: none;
}

.imgupload_btn{
	margin-right: 10px;
	float:right;
	background-color: #FFCE54;
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
.imgupload_btn:hover{
	background-color: #FFCE54;
	color:white;
}

#avatar-modal-label{
	font-size: 40px;
}
.avatar-upload{
	font-size: 25px;
}





/*Loading animation*/
.spinner {
  display: none;
  margin: 5% auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.avatar-input {
  color: transparent;
}
.avatar-input::-webkit-file-upload-button {
  visibility: hidden;
}
.avatar-input::before {
  content: '選擇檔案';
  display: inline-block;
  cursor: pointer;
  background-color: #FFCE54;
  color:#533828;
  font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  font-weight:500;
  font-size: 20px;
  border-radius: 10px;
  margin:3px;
  padding: 8px 8px 8px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0);
}
.avatar-input:hover::before {
  background-color: #FFCE54;
  color:#816C58;
}