#body{
	background-image: url(../../../images/img_home/shl.png);
}

button, input[type="button"], input[type="submit"]{
	cursor: pointer;
}

#label_complete_signup{
	color:#EA7500;
	font-size: 28px;
	margin-left:-4px;
}

#label_complete_signup:hover{
	color:#467500;
	font-size: 28px;
}

#header{
	height: 102px;
	margin-top: 10px;
}

.title{
	margin:3px;
	font-family: "Gulim"; 
	font-size:70px;
	text-decoration:none;
}
.title:hover{
	text-decoration: none;
}

#z{ margin-left:15px;
	color:#D26900;}
#o{ color:#816C58;}
#h{ color:#668D3C;}
#u{ color:#0097AC;}
#e{ color:#007996;}

#loginSection{
	font-size:20px;
	font-family: "微軟正黑體";
	float:right;
	margin-top:25px;
	height:50px;
	//width:40%;
	color:#816C5B;
	display: ;
}

.l{
	height: 48px;
	color:#816C5B;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	font-size: 20px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);]
}


#login{
	cursor: pointer;
	margin-left:10px;
	background-color: rgba(232, 81, 0, 0.6);
	color:#533828;
	margin-top: 1px;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

#login:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

#profile{
	font-size:20px;
	font-family: "微軟正黑體";
	margin-top:20px;
	//margin-left:10px;
	//float:right;
	//height:50px;
	//width:300px;	
	//margin-top:50px;
	color:#816C5B;
	display: none;
}

#userimg{
	//float:left;
	//margin-right:20px;
}
#userAlias{
	margin-top:25px;
}

#logout{
	display: none;
	margin-top:28px;
	margin-left:45px;
	//float:right;
	//margin-top: 25px;
	//margin-right:100px;
	//margin-left:15px;
	background-color: rgba(232, 81, 0, 0.6);
	color:#533828;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}
#logout:hover{
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}


#hr{
	width:99%;
	border-bottom:none; 
	border-top:1px solid gray;
}

#menu{
	margin:30px 30px 0px 20px;
	font-family: "微軟正黑體";
	font-size:22px;
	width: 12%;
	height: 550px;
	float:left;
	line-height:45px;
}

#setUp{
	display:none;
}

#setUpMenu{
	text-decoration:none;
	display:none;
	font-family: "微軟正黑體";
	margin-left: 37px;
	font-size: 18px;
	color:#816C5B;
}

.setUpItem{
	text-decoration:none;
	color:#816C5B;
}

.setUpItem:hover{
	color:#D26900;
}

#fullSignup {
	display: none;
	//font-size: 22px;
}

.item{
	text-decoration:none;
	//color:#816C5B;
	color:#533828;
}

.item:hover{
	//color:#0097AC;
	color:#D26900;
	//font-size:22px;
}


#content{
	display: block;
	margin:20px 5px 20px 5px;
	border-radius: 5px;
	float:left;
	width:66%;
	height: 550px;
	//color:#668D3C;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
}

#signup{
	margin:20px 25px 20px 5px;
	border-radius: 5px;
	//width: 18%;
	//height: 550px;
	float:right;
	//color:#668D3C;
	color:#D26900;
	font-family: "微軟正黑體";
	font-size:35px;
	display: block
}

#simpleSignUp{
	//margin:15px;
	color:#816C5B;
	font-size:18px;
	font-weight: normal;
}

.s{
	height: 48px;
	color:#816C58;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
  	font-weight:500;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	//background-color: rgba(195, 183, 172, 0.5);
	background-color: rgba(102, 141, 60, 0.4);
	padding: 8px 8px 8px 8px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 1px solid rgba(0,0,0,0);
}

.check{
	color:#D26900;
	font-size: 15px;
}

#submit{
	//width:150px;
	float:right;
	margin-top:25px;
	//color:#816C5B;
	background-color: rgba(232, 81, 0, 0.7);
	color:#533828;
}

#submit:hover{
	//background-color: rgba(102, 141, 60, 0.7);
	background-color: rgba(102, 141, 60, 0.4);
	color:#816C58;
}

#account{
	onkeyup:"(/[^-_A-Z0-9]/g,'')";
}

